<div id="profileBody">
  <h2 class="account-header">Profile Settings</h2>

  <div class="account-section">
    <div class="account-section-header">
      Profile Picture
      <div class="account-section-subtitle">
        Change the avatar image that displays alongside my account.
      </div>
    </div>
    <div class="account-section-content" style="display:none">
      <div class="account-sub-input-section">
        <input class="account-section-input upload-picture-url" type="text" name="" placeholder="Add image url address" value="">
        <button class="profile-picture-upload-btn">add</button>
      </div>
      <select class="image-picker show-html account-section-input" name="account-image">
        <optgroup label="My Pictures" id="uploadedPictureSet">
          {{#if data.user.image}}
          <option data-img-src="{{data.user.image}}" value="{{data.user.image}}" selected>Current</option>
          <option data-img-src="https://upload.wikimedia.org/wikipedia/commons/a/ad/Placeholder_no_text.svg" value="">Default</option>
          {{else}}
          <option data-img-src="https://upload.wikimedia.org/wikipedia/commons/a/ad/Placeholder_no_text.svg" value="" selected>Default (current)</option>
          {{/if}}
        </optgroup>
        <optgroup label="General Avatars">
          <option data-img-src="https://images.unsplash.com/photo-1521587760476-6c12a4b040da?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=1fd72b80aa0b43f74015163c2ad6fcc5&auto=format&fit=crop&w=1950&q=80" value="https://images.unsplash.com/photo-1521587760476-6c12a4b040da?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=1fd72b80aa0b43f74015163c2ad6fcc5&auto=format&fit=crop&w=1950&q=80">Library</option>
          <option data-img-src="https://images.unsplash.com/photo-1459433312032-29eb4bea7d3b?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=9591ab1b5ab62f80454df405b6b96ef4&auto=format&fit=crop&w=1346&q=80" value="https://images.unsplash.com/photo-1459433312032-29eb4bea7d3b?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=9591ab1b5ab62f80454df405b6b96ef4&auto=format&fit=crop&w=1346&q=80">Plants</option>
          <option data-img-src="https://images.unsplash.com/photo-1524872477987-3d40698e20b9?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=c2cf1d218e4ec1fd1a980a1348c414fc&auto=format&fit=crop&w=2089&q=80" value="https://images.unsplash.com/photo-1524872477987-3d40698e20b9?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=c2cf1d218e4ec1fd1a980a1348c414fc&auto=format&fit=crop&w=2089&q=80">Museum</option>
          <option data-img-src="https://images.unsplash.com/photo-1524683745036-b46f52b8505a?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=8464bc4ae15f5ba50c812d9b66151509&auto=format&fit=crop&w=658&q=80" value="https://images.unsplash.com/photo-1524683745036-b46f52b8505a?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=8464bc4ae15f5ba50c812d9b66151509&auto=format&fit=crop&w=658&q=80">Microscope</option>
          <option data-img-src="https://images.unsplash.com/photo-1526374870839-e155464bb9b2?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=a34afeffc0b1dc2552ba82d61ea37204&auto=format&fit=crop&w=1950&q=80" value="https://images.unsplash.com/photo-1526374870839-e155464bb9b2?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=a34afeffc0b1dc2552ba82d61ea37204&auto=format&fit=crop&w=1950&q=80">Technology</option>
        </optgroup>
      </select>
      <button class="account-btn-update full-width" onclick="updateMember('image')">update profile</button>
      <div class="account-response" id="imageresponse" style="display:none"></div>
    </div>
  </div>

  <div class="account-section">
    <div class="account-section-header">
      Display Name
      <div class="account-section-subtitle">
        Change the full name that displays alongside my account.
      </div>
    </div>
    <div class="account-section-content" style="display:none">
      <input class="account-section-input" type="text" name="account-name" value="{{data.user.name}}">
      <button class="account-btn-update" onclick="updateMember('name')">update</button>
      <div class="account-response" id="nameresponse" style="display:none"></div>
    </div>
  </div>

  <div class="account-section">
    <div class="account-section-header">
      Biographical Summary
      <div class="account-section-subtitle">
        Update my bio to match my current position.
      </div>
    </div>
    <div class="account-section-content" style="display:none">
      <textarea class="account-section-input" type="text" name="account-bio" placeholder="No Biography">{{data.user.bio}}</textarea>
      <button class="account-btn-update" onclick="updateMember('bio')">update</button>
      <div class="account-response" id="bioresponse" style="display:none"></div>
    </div>
  </div>



  <h2 class="account-header">Account Management</h2>

  <div class="account-section">
    <div class="account-section-header">
      Email Address
      <div class="account-section-subtitle">
        Change the email address that is associated with my account.
      </div>
    </div>
    <div class="account-section-content" style="display:none">
      <input class="account-section-input" type="email" name="account-email" value="{{data.user.email}}">
      <button class="account-btn-update" onclick="updateMember('email')">update</button>
      <div class="account-response" id="emailresponse" style="display:none"></div>
    </div>
  </div>

  <div class="account-section">
    <div class="account-section-header">
      Username
      <div class="account-section-subtitle">
        View my username that is used for identifying my account.
      </div>
    </div>
    <div class="account-section-content" style="display:none">
      <div class="account-section-input">{{data.user.username}}</div>
      <div class="account-response">usernames cannot be changed at this time</div>
    </div>
  </div>

  <div class="account-section">
    <div class="account-section-header">
      Password
      <div class="account-section-subtitle">
        Change the password that protects my account.
      </div>
    </div>
    <div class="account-section-content" style="display:none">
      <input class="account-section-input" type="password" name="account-password-old" placeholder="Old Password">
      <input class="account-section-input" type="password" name="account-password-new" placeholder="New Password">
      <input class="account-section-input" type="password" name="account-password-confirm" placeholder="Confirm Password">
      <button class="account-btn-update" onclick="updatePassword()">update</button>
      <div class="account-response" id="passwordresponse" style="display:none"></div>
    </div>
  </div>


  <h2 class="account-header">Site Preferences</h2>

  <div class="account-section">
    <div class="account-section-header">
      Wikidata Account
      <div class="account-section-subtitle">
        Add or update the Wikidata username that is associated with my account.
      </div>
    </div>
    <div class="account-section-content" style="display:none">
    <span class="account-field-pretext">https://www.wikidata.org/wiki/User:</span>
    <input class="account-section-input" type="text" name="account-wikidata" value="{{data.user.wikidata}}" style="width: calc(100% - 394px);">
      <button class="account-btn-update" onclick="updateMember('wikidata')">update</button>
      <div class="account-response" id="wikidataresponse" style="display:none"></div>
    </div>
  </div>

  <div class="account-section">
    <div class="account-section-header">
      LinkedIn Account
      <div class="account-section-subtitle">
        Add or update the LinkedIn url that is associated with my account.
      </div>
    </div>
    <div class="account-section-content" style="display:none">
    <span class="account-field-pretext">https://www.linkedin.com/in/</span>
    <input class="account-section-input" type="text" name="account-linkedin" placeholder="profile" value="{{data.user.linkedin}}" style="width: calc(100% - 394px);">
      <button class="account-btn-update" onclick="updateMember('linkedin')">update</button>
      <div class="account-response" id="linkedinresponse" style="display:none"></div>
    </div>
  </div>

  <div class="account-section">
    <div class="account-section-header">
      GitHub Account
      <div class="account-section-subtitle">
        Add or update the GitHub url that is associated with my account.
      </div>
    </div>
    <div class="account-section-content" style="display:none">
    <span class="account-field-pretext">https://github.com/</span>
    <input class="account-section-input" type="text" name="account-github" placeholder="profile" value="{{data.user.github}}" style="width: calc(100% - 394px);">
      <button class="account-btn-update" onclick="updateMember('github')">update</button>
      <div class="account-response" id="githubresponse" style="display:none"></div>
    </div>
  </div>

<div class="account-section">
  <div class="account-section-header">
    Instagram Account
    <div class="account-section-subtitle">
      Add or update the Instagram url that is associated with my account.
    </div>
  </div>
  <div class="account-section-content" style="display:none">
  <span class="account-field-pretext">https://www.instagram.com/</span>
  <input class="account-section-input" type="text" name="account-instagram" placeholder="profile" value="{{data.user.instagram}}" style="width: calc(100% - 394px);">
    <button class="account-btn-update" onclick="updateMember('instagram')">update</button>
    <div class="account-response" id="instagramresponse" style="display:none"></div>
  </div>
</div>

<div class="account-section">
  <div class="account-section-header">
    Twitter Account
    <div class="account-section-subtitle">
      Add or update the Twitter url that is associated with my account.
    </div>
  </div>
  <div class="account-section-content" style="display:none">
  <span class="account-field-pretext">https://twitter.com/</span>
  <input class="account-section-input" type="text" name="account-twitter" placeholder="profile" value="{{data.user.twitter}}" style="width: calc(100% - 394px);">
    <button class="account-btn-update" onclick="updateMember('twitter')">update</button>
    <div class="account-response" id="twitterresponse" style="display:none"></div>
  </div>
</div>

<div class="account-section">
  <div class="account-section-header">
    Facebook Account
    <div class="account-section-subtitle">
      Add or update the Facebook url that is associated with my account.
    </div>
  </div>
  <div class="account-section-content" style="display:none">
  <span class="account-field-pretext">https://www.facebook.com/</span>
  <input class="account-section-input" type="text" name="account-facebook" placeholder="profile" value="{{data.user.facebook}}" style="width: calc(100% - 394px);">
    <button class="account-btn-update" onclick="updateMember('facebook')">update</button>
    <div class="account-response" id="facebookresponse" style="display:none"></div>
  </div>
</div>

<div class="account-section">
  <div class="account-section-header">
    Tumblr Blog
    <div class="account-section-subtitle">
      Add or update the Tumblr url that is associated with my account.
    </div>
  </div>
  <div class="account-section-content" style="display:none">
  <span class="account-field-pretext">https://</span>
  <input class="account-section-input" type="text" name="account-tumblr" placeholder="profile" value="{{data.user.tumblr}}" style="width: calc(100% - 394px);">
  <span class="account-field-pretext">.tumblr.com</span>
    <button class="account-btn-update" onclick="updateMember('tumblr')">update</button>
    <div class="account-response" id="tumblrresponse" style="display:none"></div>
  </div>
</div>

<div class="account-section">
  <div class="account-section-header">
    Personal Website
    <div class="account-section-subtitle">
      Add or update the personal website url that is associated with my account.
    </div>
  </div>
  <div class="account-section-content" style="display:none">
  <input class="account-section-input" type="url" name="account-website" placeholder="https://mywebsite.com" value="{{data.user.website}}">
    <button class="account-btn-update" onclick="updateMember('website')">update</button>
    <div class="account-response" id="websiteresponse" style="display:none"></div>
  </div>
</div>
</div>
