<div id="profileBody">
  <div class="admin-section">
    <div class="profile-header">User Stats</div>
    <div class="admin-stat-list">

      <div class="admin-stat-container stat-width-4">
        <div class="admin-stat-value">
          {{data.counts.google.users_today}}
          <i class="fas fa-users"></i>
        </div>
        <div class="admin-stat-desc">
          Today's Users
        </div>
      </div>

      <div class="admin-stat-container stat-width-4">
        <div class="admin-stat-value">
          {{data.counts.google.newUsers_today}}
          <i class="fas fa-user-plus"></i>
        </div>
        <div class="admin-stat-desc">
          Today's New Users
        </div>
      </div>

      <div class="admin-stat-container stat-width-4">
        <div class="admin-stat-value">
          {{data.counts.google.sessions_today}}
          <i class="fas fa-desktop"></i>
        </div>
        <div class="admin-stat-desc">
          Today's Sessions
        </div>
      </div>

      <div class="admin-stat-container stat-width-4">
        <div class="admin-stat-value">
          {{data.counts.google.pageViews_today}}
          <i class="far fa-eye"></i>
        </div>
        <div class="admin-stat-desc">
          Today's Page Views
        </div>
      </div>
      
      <div class="admin-stat-container stat-width-4">
        <div class="admin-stat-value">
          {{data.counts.google.users_total}}
          <i class="fas fa-users"></i>
        </div>
        <div class="admin-stat-desc">
          Total Users
        </div>
      </div>

      <div class="admin-stat-container stat-width-4">
        <div class="admin-stat-value">
          {{data.counts.google.newUsers_month}}
          <i class="fas fa-user-plus"></i>
        </div>
        <div class="admin-stat-desc">
          New Users (30 Days)
        </div>
      </div>

      <div class="admin-stat-container stat-width-4">
        <div class="admin-stat-value">
          {{data.counts.google.sessions_total}}
          <i class="fas fa-desktop"></i>
        </div>
        <div class="admin-stat-desc">
          Total Sessions
        </div>
      </div>

      <div class="admin-stat-container stat-width-4">
        <div class="admin-stat-value">
          {{data.counts.google.pageViews_total}}
          <i class="far fa-eye"></i>
        </div>
        <div class="admin-stat-desc">
          Total Page Views
        </div>
      </div>




  </div>

  <div class="admin-section">
    <div class="profile-header">Member Stats</div>
    <div class="admin-stat-list">
      <div class="admin-stat-container stat-width-3">
        <div class="admin-stat-value">
          {{data.counts.members.basic}}
          <i class="far fa-user"></i>
        </div>
        <div class="admin-stat-desc">
          Basic Members
        </div>
      </div>

      <div class="admin-stat-container stat-width-3">
        <div class="admin-stat-value">
          {{data.counts.members.author}}
          <i class="fas fa-feather-alt"></i>
        </div>
        <div class="admin-stat-desc">
          Authors
        </div>
      </div>

      <div class="admin-stat-container stat-width-3">
        <div class="admin-stat-value">
          {{data.counts.members.admin}}
          <i class="fas fa-wrench"></i>
        </div>
        <div class="admin-stat-desc">
          Admins
        </div>
      </div>
    </div>

  </div>

  <div class="admin-section">
    <div class="profile-header">Story Stats</div>
    <div class="admin-stat-list">
      <div class="admin-stat-container stat-width-2">
        <div class="admin-stat-value">
          {{data.counts.stories}}
          <i class="fas fa-book"></i>
        </div>
        <div class="admin-stat-desc">
          Stories
        </div>
      </div>

      <div class="admin-stat-container stat-width-2">
        <div class="admin-stat-value">
          {{data.counts.edits}}
          <i class="fas fa-edit"></i>
        </div>
        <div class="admin-stat-desc">
          Story Edits
        </div>
      </div>

      <div class="admin-stat-container stat-width-2">
        <div class="admin-stat-value">
          {{data.counts.empty}}
          <i class="fas fa-exclamation-circle"></i>
        </div>
        <div class="admin-stat-desc">
          Empty Stories
        </div>
      </div>

      <div class="admin-stat-container stat-width-2">
        <div class="admin-stat-value">
          {{data.counts.favorites}}
          <i class="fas fa-heart"></i>
        </div>
        <div class="admin-stat-desc">
          Favorites
        </div>
      </div>

      <div class="admin-stat-container stat-width-2">
        <div class="admin-stat-value">
          {{data.counts.comments}}
          <i class="far fa-comments"></i>
        </div>
        <div class="admin-stat-desc">
          Comments
        </div>
      </div>

    <div class="admin-stat-container stat-width-2">
      <div class="admin-stat-value">
        {{data.counts.annotations}}
        <i class="fas fa-pencil-ruler"></i>
      </div>
      <div class="admin-stat-desc">
        Annotations
      </div>
    </div>
  </div>
  </div>

</div>
