<div class="page-header">
  <div class="overlayHeader">
    Bibliography of {{works.length}} Works on the Topic of Women in Science
  </div>
</div>
<div id="bibliography">
  {{#each works}}
    <div class="work-item">
      <a class="browse-story-link" target="_blank" href="https://wikidata.org/wiki/{{this.qid}}">
        <div class="item-title">
          <div class="work-icon">
            <i class="{{#if_equal this.instanceLabel 'book'}}fa fa-book {{else}}far fa-file-alt{{/if_equal}} "></i>
          </div>
          <div class="work-content">
          {{this.itemLabel}}
          <div class="work-description">
            {{this.itemDescription}}
          </div>
            <div class="item-author">
              {{this.authorLabel}}
            </div>
          </div>
        </div>
      </a>
    </div>
    {{/each}}
</div>
