<div class="page-header">
  Bibliography of Works on the Topic of Women in Science
</div>
<div id="bibliography">
  {{#each works}}
    <div class="work-item">
      <a class="browse-story-link" target="_blank" href="https://wikidata.org/wiki/{{this.id}}">
        <div class="item-title">
          <div class="work-icon">
            <i class="{{itemIcon this}}"></i>
          </div>
          <div class="work-content">
          {{this.labels.en.value}}
          <div class="work-description">
            {{this.descriptions.en.value}}
          </div>
          {{#if this.claims.P2093}}
            <div class="item-author">
              {{#each this.claims.P2093}}
                &mdash; {{this.mainsnak.datavalue.value}}
              {{/each}}
                &mdash;
            </div>
          {{/if}}
          </div>
        </div>
      </a>
    </div>
    {{/each}}
</div>
