<div class="page-header">
  Browse Science Stories
</div>
<div id="browseStories">
  {{#each stories}}
    <div class="grid-item">
      <a class="browse-story-link" href="/{{this.id}}">
              <div class="inventory-card"  >
                <div class="card-header">

                  <div class="card-image-container">
                    <img src="{{#if this.claims.P18.0.mainsnak.datavalue.value}}{{commonsImage this.claims.P18.0.mainsnak.datavalue.value}}{{else}}https://upload.wikimedia.org/wikipedia/commons/a/ad/Placeholder_no_text.svg{{/if}}" alt="">
                  </div>

                  <div class="card-title">
                    {{this.labels.en.value}}
                    {{#if this.claims.P569}}
                      <div class="card-condition">
                        {{wikiDateTime this.claims.P569.0.mainsnak.datavalue.value.time 'Y'}}-{{#if this.claims.P570}}{{wikiDateTime this.claims.P570.0.mainsnak.datavalue.value.time 'Y'}}{{/if}}
                      </div>
                    {{/if}}
                  </div>
                </div>
                <div class="card-body">

                  <p class="card-desc">
                    {{this.descriptions.en.value}}
                  </p>

                </div>
                <div class="card-footer">
                    <div class="card-footer-sub card-updated">
                    <i class="far fa-clock"></i> Updated:
                    {{dateFormat this.modified 'MM/DD/YY'}}
                    </div>

                </div>
              </div>
              </a>

    </div>
    {{/each}}

</div>
