<div class="page-header">
  <div class="overlayHeader">
    Browse Science Stories
  </div>
</div>
<div id="browseStories">
  {{#each data.browseList}}
    <div class="grid-item">
      <a class="browse-story-link" href="/{{this.qid}}">
              <div class="inventory-card"  >
                <div class="card-header">

                  <!-- <div class="card-image-container">
                    <img src="{{#if this.hasImage}}{{this.image}}{{else}}https://upload.wikimedia.org/wikipedia/commons/a/ad/Placeholder_no_text.svg{{/if}}" alt="">
                  </div> -->
                  {{#if this.hasImage}}
                  <div class="card-image-container">
                    <img src="{{this.image}}" alt="">
                  </div>
                  {{/if}}
                  <div class="card-title">
                    {{this.label}}
                    {{#if this.birth}}
                      <div class="card-condition">
                        {{dateFormat this.birth 'Y'}}-{{#if this.death}}{{dateFormat this.death 'Y'}}{{/if}}
                      </div>
                    {{/if}}
                  </div>
                </div>
                <div class="card-body">

                  <p class="card-desc">
                    {{this.description}}
                  </p>

                </div>
                <div class="card-footer">
                    <div class="card-footer-sub card-updated">
                    <i class="far fa-clock"></i> Updated:
                    {{dateFormat this.updatedAt 'MM/DD/YY'}}
                    </div>

                </div>
              </div>
              </a>

    </div>
    {{/each}}

</div>
