<div class="page-header">
  <div class="overlayHeader">
    Browse Science Stories
    <div class="subtitle">{{data.totalStories}} Stories And Counting</div>
  </div>
</div>
<div id="browseStories">
  {{#each data.browseList}}
    <div class="grid-item">
      <a class="browse-story-link" href="/{{this.qid}}">
              <div class="inventory-card"  >
                <div class="card-header">

                  <!-- <div class="card-image-container">
                    <img src="{{#if this.hasImage}}{{this.image}}{{else}}https://upload.wikimedia.org/wikipedia/commons/a/ad/Placeholder_no_text.svg{{/if}}" alt="">
                  </div> -->
                  {{#if this.image}}
                  <div class="card-image-container">
                    <img src="{{this.image}}" alt="">
                  </div>
                  {{/if}}
                  <div class="card-title">
                    {{this.itemLabel}}
                    {{#if this.birth}}
                      <div class="card-condition">
                        {{dateFormat this.birth 'Y'}}-{{#if this.death}}{{dateFormat this.death 'Y'}}{{/if}}
                      </div>
                    {{/if}}
                  </div>
                </div>
                <div class="card-body">

                  <p class="card-desc">
                    {{this.itemDescription}}
                  </p>

                </div>
                <div class="card-footer">
                    <div class="card-footer-sub card-updated">
                    <i class="far fa-clock"></i> Updated:
                    {{dateFormat this.updatedAt 'MM/DD/YY'}}
                    </div>

                </div>
              </div>
              </a>

    </div>
    {{/each}}


</div>
<ul class="pagination-ul">
  {{#if data.prevPage}}<li><a href="/browse?page={{data.prevPage}}" class="direction"><i class="fas fa-arrow-circle-left"></i> Previous</a></li>{{/if}}
  {{#times data.maxPage }}
    {{#if this }}
      <li><a href="/browse?page={{this}}" class="{{#if_equal this ../data.page}}active-page{{/if_equal}}">{{this}}</a></li>
    {{/if}}
  {{/times}}
  {{#if data.nextPage}}<li><a href="/browse?page={{data.nextPage}}" class="direction">Next <i class="fas fa-arrow-circle-right"></i></a></li>{{/if}}
</ul>
