<div class="page-header">
  <div class="overlayHeader">
    Build a Science Story
  </div>
</div>
<div id="buildStoryDiv">
  <form  onsubmit="updateStory()" id="buildStoryForm">
  <div class="buildSection" id="qidSection">
    Wikidata Identifier: <span class"qid-input-span">Q<input type="number" id="wdIdentifier" value="{{idVal}}"/></span>
  </div>
  <div class="buildSection" id="momentList">
  {{#each data.moments}}
  <div class="momentDiv">
    <div class="momentHeader">Slide Layout:</div>
    <div class="momentContent">
        <select name="type" id="" class="moment-input" onchange="selectType(this)">
          <option value="" disabled>--select type--</option>
          <option value="intro" {{#if_equal this.type "intro"}} selected {{else}}{{/if_equal}}>Intro</option>
          <option value="mirador"{{#if_equal this.type "mirador"}} selected {{else}}{{/if_equal}}>Mirador</option>
          <option value="audio" {{#if_equal this.type "audio"}} selected {{else}}{{/if_equal}}>Audio</option>
          <option value="video" {{#if_equal this.type "video"}} selected {{else}}{{/if_equal}}>Video</option>
          <option value="youtube" {{#if_equal this.type "youtube"}} selected {{else}}{{/if_equal}}>Youtube</option>
        </select>
        <div id="momentDetails">
          <div class="inputDiv">
            <div class="inputLabel">Title: </div>
            <input name='title' class="moment-input" value="{{this.title}}"/>
          </div>
          <div class="inputDiv">
            <div class="inputLabel">Description: </div>
            <textarea class="moment-input" name="description">{{this.description}}</textarea>
          </div>
          {{#if_equal this.type "intro" }}
                  <div class="inputDiv">
                    <div class="inputLabel">Background Image Url: </div>
                    <input class="moment-input" type="url" name="image" value="{{this.image}}" />
                  </div>
          {{else}}
          {{/if_equal}}
          {{#if_equal this.type "mirador" }}

            <div class="inputDiv">
              <div class="inputLabel">Manifest Data: </div>
              <div class="manifestDataList">
                {{#each this.config.data}}
                <div class="moment-config-data-div">
                  <input class="moment-config-data-input" name="manifestUri" placeholder="Manifest URI" value="{{this.manifestUri}}"/>
                  <input class="moment-config-data-input" name="location" placeholder="Location" value="{{this.location}}" />
                  <select name="viewType" id="" class="moment-config-data-input">
                    <option value="ImageView" {{#if_equal this.viewType "ImageView"}} selected {{else}}{{/if_equal}}>Images</option>
                    <option value="BookView" {{#if_equal this.viewType "BookView"}} selected {{else}}{{/if_equal}}>Book</option>
                  </select>
                  <div class="moment-btn" onclick="$(this).parent().fadeOutAndRemove('slow')">
                    <i class="far fa-trash-alt"></i>
                  </div>
                </div>
                {{/each}}
              </div>
              <div>
                <button type="button" onclick="addManifestForm($(this).parent().prev())">+Manifest</button>
              </div>
            </div>
            <div class="inputDiv">
              <div class="inputLabel">Layout Dimensions </div>
              <input class="moment-config-input" name="layout"  placeholder="1x1" value="{{this.config.layout}}"/>
            </div>
          {{else}}
          {{/if_equal}}
          {{#if_equal this.type "audio" }}
              <div class="inputDiv">
                <div class="inputLabel">Embed Audio Source Url: </div>
                <input class="moment-input" type="url" name="audio" value="{{this.audio}}" />
              </div>
          {{/if_equal}}
          {{#if_equal this.type "video" }}
              <div class="inputDiv">
                <div class="inputLabel">Embed Video Source Url: </div>
                <input class="moment-input" type="url" name="video" value="{{this.video}}" />
              </div>
          {{/if_equal}}
          {{#if_equal this.type "youtube" }}
              <div class="inputDiv">
                <div class="inputLabel">Embed Video Source Url: </div>
                <span class="small-text">
                  If your link looks like "https://www.youtube.com/watch?v=video-id&t=6s", <br />
                  convert to "https://www.youtube.com/embed/video-id"
                </span>
                <input class="moment-input" type="url" name="video" value="{{this.video}}"  placeholder="https://www.youtube.com/embed/video-id" />
              </div>
          {{else}}
          {{/if_equal}}
          <div class="inputDiv">
            <div class="inputLabel">Tooltip: </div>
            <input class="moment-input" name="tooltip"  value="{{this.tooltip}}"/>
          </div>
          <div class="inputDiv">
            <div class="inputLabel">Background Color: </div>
            <input class="moment-input" type="color" name="color" value="{{this.color}}">
          </div>
        </div>
    </div>
    <div class="moment-btn" onclick="$(this).parent().fadeOutAndRemove('slow')">
      <i class="far fa-trash-alt"></i>
    </div>
  </div>

  {{/each}}
  </div>
  <div id="actionButtons">
    <button class="buildBtn" onclick="addMoment()"  type="button" id="addMomentBtn">+ Moment</button>
    <button class="buildBtn" onclick="previewStory()"  type="button" id="previewBtn">Preview</button>
    <button onclick="updateStory()" class="buildBtn"type="button" id="submitBtn">Publish Story <span id="submitLoader" style="display:hide"><i class="fas fa-spinner fa-spin"></i></span></button>
  </div>

  </form>

</div>
<script>

$(document).ready(function () {

  $(function () {
      $('#submitLoader').fadeOut('slow');
      $("#momentList").sortable({placeholder: "ui-state-highlight"});
      $("#momentList").disableSelection();
      $(".manifestDataList").each(function(){
        $(this).sortable({placeholder: "ui-state-highlight"});
        $(this).disableSelection();
      })
      // addMoment()
  });
});
  function addMoment(){

    $('#momentList').append(`
      <div class="momentDiv">
        <div class="momentHeader">Slide Layout:</div>
        <div class="momentContent">
            <select name="type" id="" class="moment-input" onchange="selectType(this)">
              <option value="" disabled selected>--select type--</option>
              <option value="intro">Intro</option>
              <option value="mirador">Mirador</option>
              <option value="audio">Audio</option>
              <option value="video">Video</option>
              <option value="youtube">Youtube</option>
            </select>
            <div id="momentDetails">
            </div>
        </div>
        <div class="moment-btn" onclick="$(this).parent().fadeOutAndRemove('slow')">
          <i class="far fa-trash-alt"></i>
        </div>
      </div>
      `)
      $("#momentList").sortable("refresh");
  }
  function addManifestForm(div){
    $(div).append(`<div class="moment-config-data-div">
      <input class="moment-config-data-input" name="manifestUri" placeholder="Manifest URI" />
      <input class="moment-config-data-input" name="location" placeholder="Location" />
      <select name="viewType" id="" class="moment-config-data-input">
        <option value="ImageView">Images</option>
        <option value="BookView">Book</option>
      </select>
      <div class="moment-btn" onclick="$(this).parent().fadeOutAndRemove('slow')">
        <i class="far fa-trash-alt"></i>
      </div>
    </div>
      `)
      $(div).sortable({placeholder: "ui-state-highlight"})
  }
  function selectType(select){
    $(select).next().html(FORM_TYPE_TEMPLATE[$(select).val()])
    //Make background color change with color picker
    // $(".moment-input[name=color]").each(function(){
    //   $(this).change(function(){
    //     $(this).parent().parent().parent().parent()
    //       .css('background-color', this.value)
    //   })
    // })
    // console.log($(select).val())

  }


  function updateStory(){

    qid = $('#wdIdentifier').val()
    if (qid){
      return $.get('/api/story/validate/Q'+qid).done(function(response){
        if (response.valid) {
          r = (response.active) ? confirm('This Identifier already has an active Story. Are you sure you want to overwrite an existing Story?') : true
          if (r == true) {
            $('#submitLoader').fadeIn('slow');
            qid = 'Q'+ qid;
            output = processForm();
            return $.post('/api/story/update', {data: JSON.stringify(output), qid: qid }).done( function(data){
              if (data == 'success'){
                location.href = '/'+qid;
              }
              else{
                alert(data)
              }
              $('#submitLoader').fadeOut('slow');
            }

            )
          }
          else {
              // user pressed Cancel
          }
        }
        else {
          return alert('Invalid Wikidata Item \n Please check that there is an English label and that the item has the "Instance of (P31): Human (Q5)" statement')
        }
      })
    }
    else return alert('Please enter Wikidata Identifier')


  }

  function processForm(){
    var output = []
    var momentId = 1;
    $('#momentList > div.momentDiv').each(function(){
      var moment = {"id": momentId}
      var momentConfig = {'data':[]}
      $(this).find('.moment-input').each(function(){
       moment[this.name] = this.value;
      })
      $(this).find('.moment-config-input').each(function(){
        momentConfig[this.name] = this.value;
      })
      $(this).find('.moment-config-data-div').each(function(){
        var dataItem = {}
        $(this).find('.moment-config-data-input').each(function(){
          dataItem[this.name] = this.value;
        })
        momentConfig.data.push(dataItem);
      })
      moment['config'] = momentConfig;
      if (moment.type){
        output.push(moment)
        momentId++;
      }

    })
    console.log('process-->', output)
    return output
  }

function previewStory(){
  qid = $('#wdIdentifier').val()
  if (qid){
    output = processForm();
    return openInNewTab('/preview?id='+qid+'&data='+encodeURIComponent(JSON.stringify(output)))
  }
  else return alert('Please enter Wikidata Identifier')


}

function openInNewTab(url) {
  var win = window.open(url, '_blank');
  win.focus();
}

var FORM_TYPE_TEMPLATE = {
  'intro' : `
    <div class="inputDiv">
      <div class="inputLabel">Title: </div>
      <input name='title' class="moment-input"/>
    </div>
    <div class="inputDiv">
      <div class="inputLabel">Description: </div>
      <textarea class="moment-input" name="description"></textarea>
    </div>
    <div class="inputDiv">
      <div class="inputLabel">Background Image Url: </div>
      <input class="moment-input" type="url" name="image" />
    </div>
    <div class="inputDiv">
      <div class="inputLabel">Tooltip: </div>
      <input class="moment-input" name="tooltip" />
    </div>
    <div class="inputDiv">
      <div class="inputLabel">Background Color: </div>
      <input class="moment-input" type="color" name="color" value="#07a495">
    </div>

      <!--
    <div class="inputDiv">
      <div class="inputLabel">Overlay Color: </div>
      <input class="moment-input" type="color" name="overlay-color" value="#07a495">
    </div>

    --!>
  `,
  'mirador': `
    <div class="inputDiv">
      <div class="inputLabel">Title: </div>
      <input name='title' class="moment-input"/>
    </div>
    <div class="inputDiv">
      <div class="inputLabel">Description: </div>
      <textarea class="moment-input" name="description"></textarea>
    </div>
    <div class="inputDiv">
      <div class="inputLabel">Manifest Data: </div>
      <div class="manifestDataList">
      </div>
      <div>
        <button type="button" onclick="addManifestForm($(this).parent().prev())">+Manifest</button>
      </div>
    </div>
    <div class="inputDiv">
      <div class="inputLabel">Layout Dimensions </div>
      <input class="moment-config-input" name="layout"  placeholder="1x1"/>
    </div>
    <div class="inputDiv">
      <div class="inputLabel">Tooltip: </div>
      <input class="moment-input" name="tooltip" />
    </div>
    <div class="inputDiv">
      <div class="inputLabel">Background Color: </div>
      <input class="moment-input" type="color" name="color" value="#07a495">
    </div>

  `,
  'audio' : `
    <div class="inputDiv">
      <div class="inputLabel">Title: </div>
      <input name='title' class="moment-input"/>
    </div>
    <div class="inputDiv">
      <div class="inputLabel">Description: </div>
      <textarea class="moment-input" name="description"></textarea>
    </div>
    <div class="inputDiv">
      <div class="inputLabel">Embed Audio Source Url: </div>
      <input class="moment-input" type="url" name="audio" />
    </div>
    <div class="inputDiv">
      <div class="inputLabel">Tooltip: </div>
      <input class="moment-input" name="tooltip" />
    </div>
    <div class="inputDiv">
      <div class="inputLabel">Background Color: </div>
      <input class="moment-input" type="color" name="color" value="#07a495">
    </div>

  `,
  'video' : `
    <div class="inputDiv">
      <div class="inputLabel">Title: </div>
      <input name='title' class="moment-input"/>
    </div>
    <div class="inputDiv">
      <div class="inputLabel">Description: </div>
      <textarea class="moment-input" name="description"></textarea>
    </div>
    <div class="inputDiv">
      <div class="inputLabel">Embed Video Source Url: </div>
      <input class="moment-input" type="url" name="video" />
    </div>
    <div class="inputDiv">
      <div class="inputLabel">Tooltip: </div>
      <input class="moment-input" name="tooltip" />
    </div>
    <div class="inputDiv">
      <div class="inputLabel">Background Color: </div>
      <input class="moment-input" type="color" name="color" value="#07a495">
    </div>

  `,
  'youtube' : `
    <div class="inputDiv">
      <div class="inputLabel">Title: </div>
      <input name='title' class="moment-input"/>
    </div>
    <div class="inputDiv">
      <div class="inputLabel">Description: </div>
      <textarea class="moment-input" name="description"></textarea>
    </div>
    <div class="inputDiv">
      <div class="inputLabel">Embed Video Source Url:</div>
      <span class="small-text">
        If your link looks like "https://www.youtube.com/watch?v=video-id&t=6s", <br />
        convert to "https://www.youtube.com/embed/video-id"
      </span>
      <input class="moment-input" type="url" name="video" placeholder="https://www.youtube.com/embed/video-id" />
    </div>
    <div class="inputDiv">
      <div class="inputLabel">Tooltip: </div>
      <input class="moment-input" name="tooltip" />
    </div>
    <div class="inputDiv">
      <div class="inputLabel">Background Color: </div>
      <input class="moment-input" type="color" name="color" value="#07a495">
    </div>

  `,
}
</script>
