<div class="comment-container depth{{this.depth}}" data-id={{this.id}} data-order={{this.order}} data-parent={{this.parentId}}>
  <a class="comment-avatar">
    <div class="comment-image-container">
      <img src="{{this.image}}">
    </div>
  </a>
  <div class="comment-content" >
    <a class="comment-name">{{this.name}}</a>
    <div class="comment-metadata">
      <span class="comment-date">{{dateFormat this.createdAt 'calendar' false}}</span>
    </div>
    <div class="comment-message">
      {{this.message}}
    </div>
    <div class="actions">
      <a class="reply" onclick="replyToggle(this)">Reply</a>
    </div>
    <div class="reply-container" style="display:none">
      <a class="comment-avatar">
        <div class="comment-image-container">
          <img src="{{#if ../user.image}}{{../user.image}}{{else}}https://upload.wikimedia.org/wikipedia/commons/a/ad/Placeholder_no_text.svg{{/if}}">
        </div>
      </a>
      <textarea onkeyup="textAreaAdjust(this)" style="overflow:hidden" class="reply-input parent{{#if_equal depth 1}}{{this.id}}{{else}}{{this.parentId}}{{/if_equal}}" name="" placeholder="Leave a comment..." id="" rows="1"></textarea>
      <button class="send-reply" data-parent='{{#if_equal depth 1}}{{this.id}}{{else}}{{this.parentId}}{{/if_equal}}' onclick="sendComment(this)">Send</button>
    </div>
  </div>
</div>
