{{> navbar }}

<section class="home-section" id="intro">
  <h2 class="section-header">Your contribution will help us change the future</h2>
<!-- Go to www.addthis.com/dashboard to customize your tools -->
<div class="addthis_tipjar_inline"></div>
  <p class="section-subheader">Science Stories currently operates on a small team of volunteers.
    We aim to one day use this platform as a community that forms a bridge used to close the gender and representation gap that so heavily impacts the web.
    Generous members like you have allowed our teams, collaborators, partners, and visitors to grow our social platform in a way that promotes our values and
    mission to enrich the world-wide web with curated content that strives to <a href="https://doi.org/10.5281/zenodo.1239401" target="_blank"><i class="accent-color">unforget</i></a> the stories of incredible people each and every day.
    The Science Stories Team significantly appreciates your gift!
</p>

</section>

<section class="home-section" id="project">

  <div class="left">
    <div class="cycle">
    <img  src="https://images.unsplash.com/photo-1509099836639-18ba1795216d?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=406b912d33578b2d73fe1f254aed8122&auto=format&fit=crop&w=2130&q=80" alt="" />
    <img src="https://images.unsplash.com/photo-1516321497487-e288fb19713f?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=cbbd27149a8243a42eb2bd0bd918ba8f&auto=format&fit=crop&w=1350&q=80" alt="" />
    <img src="https://images.unsplash.com/photo-1508824623134-da66caa91eca?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=ab857629734177ff166751767bac4b49&auto=format&fit=crop&w=1309&q=80" alt="" />
    <img src="https://images.unsplash.com/photo-1517430816045-df4b7de11d1d?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=f783d7559b5e985eb0691695496a97d3&auto=format&fit=crop&w=1351&q=80" alt="" />
    <img src="https://images.unsplash.com/photo-1500313718044-20c4d2a10c39?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=1d48a1cac0c4c02ee5d29ec8caaf8375&auto=format&fit=crop&w=1567&q=80" alt="">
    </div>
  </div>
  <div class="right">
    <div class="feature-icon">
      <i class="fas fa-gift faa-float animated"></i>
    </div>
    <h2 class="section-header">What your gift goes to</h2>
    <p class="section-subheader">
      <strong>Financial gifts to Science Stories helps our team in the following ways:</strong><br>
      <i class="fas fa-globe-americas"></i> Making Science Stories accessible to a wider audience <br>
      <i class="fas fa-microscope"></i> Digitizing archived printed media to have a first-time web presence <br>
      <i class="fas fa-user-astronaut"></i> Promoting STEM in under-represented communities<br>
      <i class="fas fa-users-cog"></i> Assisting with application support and maintenance costs<br>
      <i class="fas fa-hdd"></i> Helping fund our content data storage services<br>
      <i class="fas fa-mobile-alt"></i> Initiating software developments for Science Stories to be optimized on more devices<br>
      <i class="fas fa-apple-alt"></i> Creating and designing educational material for classrooms to utilize our platform’s content<br>
      <i class="far fa-handshake"></i> Establishing partnerships with libraries, museums, archives, galleries, and other cultural heritage institutions to promote open information accessibility of their catalogs<br>
      <i class="fas fa-file-signature"></i> Purchasing licenses to display more content in more interactive ways<br>
      <i class="fas fa-chalkboard-teacher"></i> Participating in and presenting at Conferences relevant to our mission<br>
      <i class="fas fa-pencil-ruler"></i> Building tools to help our curators find, analyze, and contribute more content<br>
      <i class="fas fa-pencil-ruler"></i> Keeping Science Stories free and open source software<br>
      <i class="fas fa-seedling"></i> Growing the Science Stories Family<br>
    </p>
  </div>

</section>


<section class="home-section" id="footer">
  <div>
    Questions? Contact the Science Stories team at info@sciencestories.io
  </div>
  <p>
    © Science Stories 2018 <br>
    <a href="https://www.seals-nutt.com">Developed By Seals-Nutt</a><br>
    <a href="/sitemap">sitemap</a>
  </p>
</section>
<script>
var addthis_share = {
 url: "http://www.sciencestories.io/donate",
 title: "Giving to Science Stories",
 description: "Science Stories brings scientific work into social spaces. Communicating scientific \
information in spaces where people can discover it in-context creates a \
jumping-off point for further exploration. For an institution with cultural heritage \
collections, there are many scientific resources held in libraries, archives, \
museums and galleries that are not yet available on the web. We provide a web \
application that leverages linked open data, the International Image Interoperability \
Framework, the Wikidata knowledge base, and semantic web technologies \
to demonstrate a vision of what getting scientific work products and scientific \
information into social spaces can do.",
 media: "http://sciencestories.io/static/images/branding/logo_black.png"
}

</script>

<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5b8713ab5154d5c9"></script>
