<div id="profileBody">
  <div class="profile-header">Science Stories Feed</div>
  <div class="profile-feed-container">
    {{#each data.feed_list}}
      <div class="profile-feed-item">
        <a href="/{{this.story.qid}}">
        <div class="feed-item-user">
          <div class="user-image-container">
            <img src="{{#if this.member.image}}{{this.member.image}}{{else}}https://upload.wikimedia.org/wikipedia/commons/a/ad/Placeholder_no_text.svg{{/if}}" alt="">
          </div>
          <div class="user-details-container">
            <div class="user-name">{{this.member.name}}</div>
              <div class="user-activity-desc">
                {{#if_equal this.dataValues.feed_type 'update'}}
                  updated a story <i class="fas fa-signature"></i>
                {{else if_equal this.dataValues.feed_type 'favorite'}}
                  favorited a story <i class="far fa-heart"></i>
                {{else if_equal this.dataValues.feed_type 'comment'}}
                  commented on a story <i class="far fa-comments"></i>
                {{/if_equal}}
            </div>
            <div class="user-activity-date">
              {{dateFormat this.dataValues.feed_date 'calendar' true}}
            </div>
          </div>
        </div>
        <div class="feed-story-container">
          {{#if_equal this.dataValues.feed_type 'comment' }}
          <div class="feed-story-comment"><i class="fas fa-quote-left"></i>{{this.message}}<i class="fas fa-quote-right"></i></div>
          {{/if_equal}}
          <div class="feed-story-preview" style="background-color: {{this.story.data.0.color}}">
            <div class="feed-image" >
              {{#if_equal this.story.data.0.type 'intro'}}
                <img src="{{this.story.data.0.image}}" alt="">
              {{/if_equal}}
            </div>
            <div class="feed-title" style="color:{{contrastColor this.story.data.0.color true}};">
              {{this.story.data.0.title}}
            </div>
            <div class="feed-description" style="color:{{contrastColor this.story.data.0.color true}};" >
              {{this.story.data.0.description}}
            </div>
          </div>


        </div>
        </a>
      </div>

    {{/each}}
  </div>
</div>
