<section class="home-section" id="footer">
  <div>
    <a href="https://twitter.com/unforgettingSci" target="_blank"><i class="fab fa-twitter-square"></i></a>
    <a href="https://www.linkedin.com/company/science-stories/" target="_blank"><i class="fab fa-linkedin"></i></a>
    <a href="/donate"><i class="fas fa-seedling"></i> Help Us Tell More Stories</a><br>
    Questions? Contact the Science Stories team at info@sciencestories.io
  </div>
  <p>


    <br>

    © Science Stories <span id="year-stamp"></span> <br>
    <a href="https://www.seals-nutt.com">Developed By Seals-Nutt</a><br>
    <a href="/sitemap">sitemap</a>
  </p>
</section>

<script>
  const yearStamp = document.getElementById('year-stamp');
  yearStamp.innerHTML = new Date().getFullYear();
</script>