{{> navbar }}
<section class="home-section" id="welcome">
  <img src="/static/images/branding/logo_black.png" alt="Science Stories Logo">
  <p>
    Discover their work. Tell their stories.
  </p>
  <button id="arrow">
    <span>↓</span>
  </button>
</section>
<section class="home-section" id="featured">
  <h2 class="section-header">Featured Stories</h2>
  <p class="section-subheader">Highlighting 5 Women at Yale University in Scientific Research Before Undergraduate Co-education.</p>
  <div id="featuredCarousel">


    <div class="featured-story-item">
      <a href="/Q6376201">
        <img src="http://peabody.yale.edu/sites/default/files/images/archives/Bush_KJ.jpg" alt="">
        <div class="carousel-item-header">
          Katharine Jeanette Bush <span class="fontsize50">(1855-1937)</span>
        </div>
        <div class="carousel-item-details">
          <span class="career-title">Zoologist & Researcher</span><br>
          First woman to receive a Ph.D. in the sciences at Yale University
        </div>
      </a>
    </div>

    <div class="featured-story-item">
      <a href="/Q11641">
        <img src="https://stories.vassar.edu/2017/assets/images/170706-legacy-of-grace-hopper-hopper-militarypportrait.jpeg" alt="">
        <div class="carousel-item-header">
          Grace Hopper <span class="fontsize50">(1906-1992)</span>
        </div>
        <div class="carousel-item-details">
          <span class="career-title">Computer Scientist & U.S. Navy Rear Admiral</span><br>
          Pioneer of computer programming and inventor of early compiler tools
        </div>
      </a>
    </div>

    <div class="featured-story-item">
      <a href="/Q451538">
        <img src="http://www.encyclopediaofalabama.org/images/m-6968.jpg" alt="">
        <div class="carousel-item-header">
          Dorrit Hoffleit <span class="fontsize50">(1907-2007)</span>
        </div>
        <div class="carousel-item-details">
          <span class="career-title">Research Astronomer</span><br>
          Inventor of the Bright Star Catalog
        </div>
      </a>
    </div>

    <div class="featured-story-item">
      <a href="/Q7309">
        <img src="https://profiles.nlm.nih.gov/ps/access/DJBBLB.jpg" alt="">
        <div class="carousel-item-header">
          Maxine Singer <span class="fontsize50">(1931-)</span>
        </div>
        <div class="carousel-item-details">
          <span class="career-title">Molecular Biologist</span><br>
          Contributor to research on solving the genetic code in DNA
        </div>
      </a>
    </div>


    <div class="featured-story-item">
      <a href="/Q5298518">
        <img src="http://www.polioplace.org/sites/default/files/person/horstmann-yale.jpg" alt="">
        <div class="carousel-item-header">
          Dorothy Horstmann <span class="fontsize50">(1911-2001)</span>
        </div>
        <div class="carousel-item-details">
          <span class="career-title">Epidemiologist, Virologist and Pediatrician</span><br>
          First woman appointed as a professor at the Yale School of Medicine
        </div>
      </a>
    </div>

    <!-- COPY TO FIT EVEN NUMBER BUG -->
    <div class="featured-story-item">
      <a href="/Q6376201">
        <img src="http://peabody.yale.edu/sites/default/files/images/archives/Bush_KJ.jpg" alt="">
        <div class="carousel-item-header">
          Katharine Jeanette Bush <span class="fontsize50">(1855-1937)</span>
        </div>
        <div class="carousel-item-details">
          <span class="career-title">Zoologist & Researcher</span><br>
          First woman to receive a Ph.D. in the sciences at Yale University
        </div>
      </a>
    </div>

    <div class="featured-story-item">
      <a href="/Q11641">
        <img src="https://stories.vassar.edu/2017/assets/images/170706-legacy-of-grace-hopper-hopper-militarypportrait.jpeg" alt="">
        <div class="carousel-item-header">
          Grace Hopper <span class="fontsize50">(1906-1992)</span>
        </div>
        <div class="carousel-item-details">
          <span class="career-title">Computer Scientist & U.S. Navy Rear Admiral</span><br>
          Pioneer of computer programming and inventor of early compiler tools
        </div>
      </a>
    </div>

    <div class="featured-story-item">
      <a href="/Q451538">
        <img src="http://www.encyclopediaofalabama.org/images/m-6968.jpg" alt="">
        <div class="carousel-item-header">
          Dorrit Hoffleit <span class="fontsize50">(1907-2007)</span>
        </div>
        <div class="carousel-item-details">
          <span class="career-title">Research Astronomer</span><br>
          Inventor of the Bright Star Catalog
        </div>
      </a>
    </div>

    <div class="featured-story-item">
      <a href="/Q7309">
        <img src="https://profiles.nlm.nih.gov/ps/access/DJBBLB.jpg" alt="">
        <div class="carousel-item-header">
          Maxine Singer <span class="fontsize50">(1931-)</span>
        </div>
        <div class="carousel-item-details">
          <span class="career-title">Molecular Biologist</span><br>
          Contributor to research on solving the genetic code in DNA
        </div>
      </a>
    </div>


    <div class="featured-story-item">
      <a href="/Q5298518">
        <img src="http://www.polioplace.org/sites/default/files/person/horstmann-yale.jpg" alt="">
        <div class="carousel-item-header">
          Dorothy Horstmann <span class="fontsize50">(1911-2001)</span>
        </div>
        <div class="carousel-item-details">
          <span class="career-title">Epidemiologist, Virologist and Pediatrician</span><br>
          First woman appointed as a professor at the Yale School of Medicine
        </div>
      </a>
    </div>
  </div>
</section>
<section class="home-section" id="storyCount">
  <script> var countStories = {{story_count}}</script>
  <div class="story-odometer">100</div>
  <span class="counter-text">STORIES TOLD</span>
  <br> <span class="smallText">...and counting</span>
</section>
<section class="home-section" id="project">
  <div class="left">
    <img src="/static/images/screenshots/story_main.png" alt="">
  </div>
  <div class="right">
    <div class="feature-icon">
      <i class="fas fa-wrench faa-wrench animated"></i>
    </div>
    <h2 class="section-header">How It Works</h2>
    <p class="section-subheader">Science Stories brings scientific work into social spaces. Communicating scientific
  information in spaces where people can discover it in-context creates a
  jumping-off point for further exploration. For an institution with cultural heritage
  collections, there are many scientific resources held in libraries, archives,
  museums and galleries that are not yet available on the web. We provide a web
  application that leverages linked open data, the International Image Interoperability
  Framework, the Wikidata knowledge base, and semantic web technologies
  to demonstrate a vision of what getting scientific work products and scientific
  information into social spaces can do.</p>
  </div>

</section>
<section class="home-section" id="sources">
  <div id="sourceCarousel">
    <div class="source-carousel-item">
      <img src="/static/vendor/logos/yale.png" alt="">
    </div>
    <div class="source-carousel-item">
      <img src="/static/vendor/logos/wikidata.svg" alt="">
    </div>
    <div class="source-carousel-item">
      <img src="/static/vendor/logos/iiif.png" alt="">
    </div>
    <div class="source-carousel-item">
      <img src="/static/vendor/logos/wikipedia.png" alt="">
    </div>
    <div class="source-carousel-item">
      <img src="/static/vendor/logos/mirador.png" alt="">
    </div>
    <div class="source-carousel-item">
      <img src="/static/vendor/logos/smithsonian.png" alt="">
    </div>
    <div class="source-carousel-item">
      <img src="/static/vendor/logos/yale-wff.jpg" alt="">
    </div>
    <div class="source-carousel-item">
      <img src="/static/vendor/logos/youtube.png" alt="">
    </div>
    <div class="source-carousel-item">
      <img src="/static/vendor/logos/cantaloupe.png" alt="">
    </div>
    <div class="source-carousel-item">
      <img src="/static/vendor/logos/yale-seas.png" alt="">
    </div>
    <div class="source-carousel-item">
      <img src="/static/vendor/logos/commons.svg" alt="">
    </div>
    <div class="source-carousel-item">
      <img src="/static/vendor/logos/bodleian.jpg" alt="">
    </div>
    <div class="source-carousel-item">
      <img src="/static/vendor/logos/harvard.png" alt="">
    </div>
    <div class="source-carousel-item">
      <img src="/static/vendor/logos/ncsu.jpeg" alt="">
    </div>
    <div class="source-carousel-item">
      <img src="/static/vendor/logos/aws.png" alt="">
    </div>
    <div class="source-carousel-item">
      <img src="/static/vendor/logos/illinois.jpg" alt="">
    </div>
</section>
<section class="home-section" id="features">
  <div class="left">
    <img src="/static/images/screenshots/wd_annotation.png" alt="">
  </div>
  <div class="right">
    <div class="feature-icon">
      <i class="fas fa-pen-fancy faa-vertical animated"></i>
    </div>
    <h2 class="section-header">High-Performance Annotating</h2>
    <p class="section-subheader">They say a picture has 1,000 words. Well... we can help you find a few of them. Our image annotation engine performs real-time lookups of Wikidata and Wikipedia to fill you in on what you are looking at. </p>
  </div>
  <div class="spacer"></div>
  <div class="left">
    <div class="feature-icon">
      <i class="fas fa-video faa-horizontal animated"></i>
    </div>
    <h2 class="section-header">Watch and Learn</h2>
    <p class="section-subheader">We embed and aggregate videos from YouTube to bring our Stories to life. From interviews to biographies, we have currated many Stories containing video content. </p>
  </div>
  <div class="right">
    <img src="/static/images/screenshots/youtube.png" alt="">
  </div>
  <div class="spacer"></div>
    <div class="feature-icon">
      <i class="fas fa-user-graduate faa-float animated"></i>
    </div>
    <h2 class="section-header">Reseach Re-imagined</h2>
    <p class="section-subheader">Science Stories offers a new approach for discovering resources in print and on the web. Because we use content collections from leading institutions and museums along with data sources from accessible re-usable data stores, we are able to provide researchers with embeded external webpages, scanned books and manuscripts, and even Wikipedia articles. </p>

  <div class="research-images bottom">
    <img src="/static/images/screenshots/book.png" alt="">
    <img src="/static/images/screenshots/wikipedia.png" alt="">
    <img src="/static/images/screenshots/external.png" alt="">
  </div>
</section>
<section class="home-section" id="footer">
  <div>
    Questions? Contact the Science Stories team at info@sciencestories.io
  </div>
  <p>
    © Science Stories 2018 <br>
    <a href="https://www.seals-nutt.com">Developed By Seals-Nutt</a><br>
    <a href="/sitemap">sitemap</a>
  </p>
</section>
<script>
var addthis_share = {
 url: "http://www.sciencestories.io",
 title: "Welcome to Science Stories",
 description: "Science Stories brings scientific work into social spaces. Communicating scientific \
information in spaces where people can discover it in-context creates a \
jumping-off point for further exploration. For an institution with cultural heritage \
collections, there are many scientific resources held in libraries, archives, \
museums and galleries that are not yet available on the web. We provide a web \
application that leverages linked open data, the International Image Interoperability \
Framework, the Wikidata knowledge base, and semantic web technologies \
to demonstrate a vision of what getting scientific work products and scientific \
information into social spaces can do.",
 media: "http://sciencestories.io/static/images/branding/logo_black.png"
}
</script>

<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5b8713ab5154d5c9"></script>
