{{> navbar }}
<button id="arrow">
  <span>↓</span>
</button>
<div id="pagepiling">
    <div class="section" id="section1">
        <div class="intro">
          <div class="page-header">
            <!-- <h1>Science Stories</h1> -->
            <img src="/static/images/branding/logo_black.png" alt="Science Stories Logo">
            <p>
              Discover their work. Tell their stories.
            </p>
          </div>
        </div>
    </div>
    <div class="section pp-scrollable" id="section2">
      <div class="content">
        <div class="page-header">
          <h1>Featured Stories</h1>
          <p>
            Highlighting 5 women at Yale University in scientific research before undergraduate co-education.
          </p>
        </div>
        <div class="cont s--inactive">
          <!-- cont inner start -->
          <div class="cont__inner">
            <!-- el start -->
            <div class="el">
              <div class="el__overflow">
                <div class="el__inner">
                  <div class="el__bg"></div>
                  <div class="el__preview-cont">
                    <h2 class="el__heading">Katharine Bush</h2>
                  </div>
                  <div class="el__content">
                    <div class="el__text">
                      <div class="preview-title">
                        Katharine Jeanette Bush
                      </div>
                      <table>
                        <tr>
                          <td><img src="http://peabody.yale.edu/sites/default/files/images/archives/Bush_KJ.jpg" alt=""></td>
                          <td><p>
                            She was born in Scranton, Pennsylvania, and was educated in the public and private schools of New Haven, Connecticut. In 1901, she became the first woman to receive a Ph.D. in the sciences at Yale University.

Bush studied zoology under A. E. Verrill and in 1879 assumed the position of assistant in the zoological museum at Yale University. She served on the United States Fish Commission, helped to edit the 1890 edition of Webster's dictionary, and was made a member of the American Society of Naturalists and the American Society of Zoologists. She wrote "The Tubicolous Annelids of the Tribes Sabellides and Serpulides," in Harriman Alaska Expedition, volume xii (1905), besides Deep Water Mollusca (1885) and New Species of Turbonilla (1899).
                          </p></td>
                        </tr>
                      </table>
                      <a href="/story=Q6376201"><button>View Story</button></a>
                    </div>
                    <div class="el__close-btn"></div>
                  </div>
                </div>
              </div>
              <div class="el__index">
                <div class="el__index-back">1901</div>
                <div class="el__index-front">
                  <div class="el__index-overlay" data-index="1901">1901</div>
                </div>
              </div>
            </div>
            <!-- el end -->
            <!-- el start -->
            <div class="el">
              <div class="el__overflow">
                <div class="el__inner">
                  <div class="el__bg"></div>
                  <div class="el__preview-cont">
                    <h2 class="el__heading">Grace Hopper</h2>
                  </div>
                  <div class="el__content">
                    <div class="el__text">
                      <div class="preview-title">
                        Grace Hopper
                      </div>
                    </div>
                    <div class="el__close-btn"></div>
                  </div>
                </div>
              </div>
              <div class="el__index">
                <div class="el__index-back">1930</div>
                <div class="el__index-front">
                  <div class="el__index-overlay" data-index="1930">1930</div>
                </div>
              </div>
            </div>
            <!-- el end -->
            <!-- el start -->
            <div class="el">
              <div class="el__overflow">
                <div class="el__inner">
                  <div class="el__bg"></div>
                  <div class="el__preview-cont">
                    <h2 class="el__heading">Dorrit Hoffleit</h2>
                  </div>
                  <div class="el__content">
                    <div class="el__text">
                      <div class="preview-title">
                        Dorrit Hoffleit
                      </div>
                    </div>
                    <div class="el__close-btn"></div>
                  </div>
                </div>
              </div>
              <div class="el__index">
                <div class="el__index-back">1956</div>
                <div class="el__index-front">
                  <div class="el__index-overlay" data-index="1956">1956</div>
                </div>
              </div>
            </div>
            <!-- el end -->

            <!-- el start -->
            <div class="el">
              <div class="el__overflow">
                <div class="el__inner">
                  <div class="el__bg"></div>
                  <div class="el__preview-cont">
                    <h2 class="el__heading">Maxine Singer</h2>
                  </div>
                  <div class="el__content">
                    <div class="el__text">
                      <div class="preview-title">
                        Maxine Singer
                      </div>
                    </div>
                    <div class="el__close-btn"></div>
                  </div>
                </div>
              </div>
              <div class="el__index">
                <div class="el__index-back">1957</div>
                <div class="el__index-front">
                  <div class="el__index-overlay" data-index="1957">1957</div>
                </div>
              </div>
            </div>
            <!-- el end -->
            <!-- el start -->
            <div class="el">
              <div class="el__overflow">
                <div class="el__inner">
                  <div class="el__bg"></div>
                  <div class="el__preview-cont">
                    <h2 class="el__heading">Dorothy Horstmann</h2>
                  </div>
                  <div class="el__content">
                    <div class="el__text">
                      <div class="preview-title">
                        Dorothy M. Horstmann
                      </div>
                    </div>
                    <div class="el__close-btn"></div>
                  </div>
                </div>
              </div>
              <div class="el__index">
                <div class="el__index-back">1961</div>
                <div class="el__index-front">
                  <div class="el__index-overlay" data-index="1961">1961</div>
                </div>
              </div>
            </div>
            <!-- el end -->
          </div>
          <!-- cont inner end -->
        </div>


        </div>
    </div>
</div>
