
<div class="page-header">
  <h1>Science Stories</h1>
  <p>
    Using linked open data to explore the scientific research of women affiliated with Yale University in the years before undergraduate coeducation.
  </p>
</div>





<div class="cont s--inactive">
  <!-- cont inner start -->
  <div class="cont__inner">
    <!-- el start -->
    <div class="el">
      <div class="el__overflow">
        <div class="el__inner">
          <div class="el__bg"></div>
          <div class="el__preview-cont">
            <h2 class="el__heading">Katharine Bush</h2>
          </div>
          <div class="el__content">
            <div class="el__text">
              Katharine Jeanette Bush
              <table>
                <tr>
                  <td><img src="http://peabody.yale.edu/sites/default/files/images/archives/Bush_KJ.jpg" alt=""></td>
                  <td><p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis dolorem ratione maiores mollitia eius, inventore odio consequatur saepe sequi quas ad. Beatae numquam saepe unde vitae commodi dolorum eum quae eligendi inventore cumque exercitationem suscipit, architecto perspiciatis tenetur quibusdam veniam esse culpa sapiente. Aliquam magnam ex dignissimos illum, obcaecati quaerat! Nemo dolorum perferendis et qui error aperiam odit officiis, labore quia modi explicabo illum repudiandae placeat ex reiciendis, laboriosam, ea at magni nam rem quis minima itaque! Praesentium voluptas placeat deleniti doloremque illo necessitatibus, magni explicabo. Numquam necessitatibus eligendi ab temporibus nam fuga ducimus nihil, quasi natus cupiditate. Necessitatibus, rerum!
                    <button>View Story -></button>
                  </p></td>
                </tr>
              </table>
            </div>
            <div class="el__close-btn"></div>
          </div>
        </div>
      </div>
      <div class="el__index">
        <div class="el__index-back">1901</div>
        <div class="el__index-front">
          <div class="el__index-overlay" data-index="1901">1901</div>
        </div>
      </div>
    </div>
    <!-- el end -->
    <!-- el start -->
    <div class="el">
      <div class="el__overflow">
        <div class="el__inner">
          <div class="el__bg"></div>
          <div class="el__preview-cont">
            <h2 class="el__heading">Grace Hopper</h2>
          </div>
          <div class="el__content">
            <div class="el__text">Grace Hopper</div>
            <div class="el__close-btn"></div>
          </div>
        </div>
      </div>
      <div class="el__index">
        <div class="el__index-back">1930</div>
        <div class="el__index-front">
          <div class="el__index-overlay" data-index="1930">1930</div>
        </div>
      </div>
    </div>
    <!-- el end -->
    <!-- el start -->
    <div class="el">
      <div class="el__overflow">
        <div class="el__inner">
          <div class="el__bg"></div>
          <div class="el__preview-cont">
            <h2 class="el__heading">Dorrit Hoffleit</h2>
          </div>
          <div class="el__content">
            <div class="el__text">Dorrit Hoffleit</div>
            <div class="el__close-btn"></div>
          </div>
        </div>
      </div>
      <div class="el__index">
        <div class="el__index-back">1956</div>
        <div class="el__index-front">
          <div class="el__index-overlay" data-index="1956">1956</div>
        </div>
      </div>
    </div>
    <!-- el end -->

    <!-- el start -->
    <div class="el">
      <div class="el__overflow">
        <div class="el__inner">
          <div class="el__bg"></div>
          <div class="el__preview-cont">
            <h2 class="el__heading">Maxine Singer</h2>
          </div>
          <div class="el__content">
            <div class="el__text">Maxine Singer</div>
            <div class="el__close-btn"></div>
          </div>
        </div>
      </div>
      <div class="el__index">
        <div class="el__index-back">1957</div>
        <div class="el__index-front">
          <div class="el__index-overlay" data-index="1957">1957</div>
        </div>
      </div>
    </div>
    <!-- el end -->
    <!-- el start -->
    <div class="el">
      <div class="el__overflow">
        <div class="el__inner">
          <div class="el__bg"></div>
          <div class="el__preview-cont">
            <h2 class="el__heading">Dorothy Horstmann</h2>
          </div>
          <div class="el__content">
            <div class="el__text">Dorothy M. Horstmann</div>
            <div class="el__close-btn"></div>
          </div>
        </div>
      </div>
      <div class="el__index">
        <div class="el__index-back">1961</div>
        <div class="el__index-front">
          <div class="el__index-overlay" data-index="1961">1961</div>
        </div>
      </div>
    </div>
    <!-- el end -->
  </div>
  <!-- cont inner end -->
</div>
