{{> navbar }}
<button id="arrow">
  <span>↓</span>
</button>
<div id="pagepiling">
    <div class="section" id="section1">
        <div class="intro">
          <div class="page-header">
            <!-- <h1>Science Stories</h1> -->
            <img src="/static/images/branding/logo_black.png" alt="Science Stories Logo">
            <p>
              Discover their work. Tell their stories.
            </p>
          </div>
        </div>
    </div>
    <div class="section pp-scrollable" id="section2">
      <div class="content">

        <div class="page-header" id="featuredHeader">

            <div class="overlayHeader">
              Featured Stories
          <p>
            Highlighting 5 women at Yale University in scientific research before undergraduate co-education.
          </p>
        </div></div>
        <div class="cont s--inactive">
          <!-- cont inner start -->
          <div class="cont__inner">
            <!-- el start -->
            <div class="el">
              <div class="el__overflow">
                <div class="el__inner">
                  <div class="el__bg"></div>
                  <div class="el__preview-cont">
                    <h2 class="el__heading">Katharine Bush</h2>
                  </div>
                  <div class="el__content">
                    <div class="el__text">
                      <div class="preview-title">
                        Katharine Jeanette Bush
                      </div>
                      <table>
                        <tr>
                          <td><img src="http://peabody.yale.edu/sites/default/files/images/archives/Bush_KJ.jpg" alt=""></td>
                          <td><p>
                            She was born in Scranton, Pennsylvania, and was educated in the public and private schools of New Haven, Connecticut. In 1901, she became the first woman to receive a Ph.D. in the sciences at Yale University.

Bush studied zoology under A. E. Verrill and in 1879 assumed the position of assistant in the zoological museum at Yale University. She served on the United States Fish Commission, helped to edit the 1890 edition of Webster's dictionary, and was made a member of the American Society of Naturalists and the American Society of Zoologists. She wrote "The Tubicolous Annelids of the Tribes Sabellides and Serpulides," in Harriman Alaska Expedition, volume xii (1905), besides Deep Water Mollusca (1885) and New Species of Turbonilla (1899).
                          </p></td>
                        </tr>
                      </table>
                      <a href="/Q6376201"><button>View Story</button></a>
                    </div>
                    <div class="el__close-btn"></div>
                  </div>
                </div>
              </div>
              <div class="el__index">
                <div class="el__index-back">1901</div>
                <div class="el__index-front">
                  <div class="el__index-overlay" data-index="1901">1901</div>
                </div>
              </div>
            </div>
            <!-- el end -->
            <!-- el start -->
            <div class="el">
              <div class="el__overflow">
                <div class="el__inner">
                  <div class="el__bg"></div>
                  <div class="el__preview-cont">
                    <h2 class="el__heading">Grace Hopper</h2>
                  </div>
                  <div class="el__content">
                    <div class="el__text">
                      <div class="preview-title">
                        Grace Hopper
                      </div>
                      <table>
                        <tr>
                          <td><img src="https://upload.wikimedia.org/wikipedia/commons/5/55/Grace_Hopper.jpg" alt=""></td>
                          <td><p>
                            Grace Brewster Murray Hopper (née Murray; December 9, 1906 – January 1, 1992) was an American computer scientist and United States Navy rear admiral.[1] One of the first programmers of the Harvard Mark I computer, she was a pioneer of computer programming who invented one of the first compiler related tools. She popularized the idea of machine-independent programming languages, which led to the development of COBOL, an early high-level programming language still in use today.
                          </p></td>
                        </tr>
                      </table>
                      <a href="/Q11641"><button>View Story</button></a>
                    </div>
                    <div class="el__close-btn"></div>
                  </div>
                </div>
              </div>
              <div class="el__index">
                <div class="el__index-back">1930</div>
                <div class="el__index-front">
                  <div class="el__index-overlay" data-index="1930">1930</div>
                </div>
              </div>
            </div>
            <!-- el end -->
            <!-- el start -->
            <div class="el">
              <div class="el__overflow">
                <div class="el__inner">
                  <div class="el__bg"></div>
                  <div class="el__preview-cont">
                    <h2 class="el__heading">Dorrit Hoffleit</h2>
                  </div>
                  <div class="el__content">
                    <div class="el__text">
                      <div class="preview-title">
                        Dorrit Hoffleit
                      </div>
                      <table>
                        <tr>
                          <td><img src="https://upload.wikimedia.org/wikipedia/commons/1/10/Dorrit-hoffleit.JPG" alt=""></td>
                          <td><p>
                            Ellen Dorrit Hoffleit (March 12, 1907 – April 9, 2007) was an American senior research astronomer at Yale University. She is most widely known for her work in variable stars, astrometry, spectroscopy, meteors, and the Bright Star Catalog, as well as her mentorship of many young women and generations of astronomers.
                          </p></td>
                        </tr>
                      </table>
                      <a href="/Q451538"><button>View Story</button></a>
                    </div>
                    <div class="el__close-btn"></div>
                  </div>
                </div>
              </div>
              <div class="el__index">
                <div class="el__index-back">1956</div>
                <div class="el__index-front">
                  <div class="el__index-overlay" data-index="1956">1956</div>
                </div>
              </div>
            </div>
            <!-- el end -->

            <!-- el start -->
            <div class="el">
              <div class="el__overflow">
                <div class="el__inner">
                  <div class="el__bg"></div>
                  <div class="el__preview-cont">
                    <h2 class="el__heading">Maxine Singer</h2>
                  </div>
                  <div class="el__content">
                    <div class="el__text">
                      <div class="preview-title">
                        Maxine Singer
                      </div>
                      <table>
                        <tr>
                          <td><img src="https://upload.wikimedia.org/wikipedia/commons/c/c9/Nci-vol-8248-300_maxine_singer.jpg" alt=""></td>
                          <td><p>
                            Maxine Frank Singer (born February 15, 1931) is an American molecular biologist and science administrator.[1] She is known for her contributions to solving the genetic code, her role in the ethical and regulatory debates on recombinant DNA techniques (including the organization of the Asilomar Conference on Recombinant DNA), and her leadership of Carnegie Institution of Washington.
                          </p></td>
                        </tr>
                      </table>
                      <a href="/Q7309"><button>View Story</button></a>
                    </div>
                    <div class="el__close-btn"></div>
                  </div>
                </div>
              </div>
              <div class="el__index">
                <div class="el__index-back">1957</div>
                <div class="el__index-front">
                  <div class="el__index-overlay" data-index="1957">1957</div>
                </div>
              </div>
            </div>
            <!-- el end -->
            <!-- el start -->
            <div class="el">
              <div class="el__overflow">
                <div class="el__inner">
                  <div class="el__bg"></div>
                  <div class="el__preview-cont">
                    <h2 class="el__heading">Dorothy Horstmann</h2>
                  </div>
                  <div class="el__content">
                    <div class="el__text">
                      <div class="preview-title">
                        Dorothy M. Horstmann
                      </div>
                      <table>
                        <tr>
                          <td><img src="http://www.polioplace.org/sites/default/files/person/horstmann-yale.jpg" alt=""></td>
                          <td><p>
                          Dorothy Millicent Horstmann (July 2, 1911 – January 11, 2001) was an American epidemiologist, virologist and pediatrician whose research on the spread of poliovirus in the human bloodstream helped set the stage for the development of the polio vaccine. She was the first woman appointed as a professor at the Yale School of Medicine.
                          </p></td>
                        </tr>
                      </table>
                      <a href="/Q5298518"><button>View Story</button></a>
                    </div>
                    <div class="el__close-btn"></div>
                  </div>
                </div>
              </div>
              <div class="el__index">
                <div class="el__index-back">1961</div>
                <div class="el__index-front">
                  <div class="el__index-overlay" data-index="1961">1961</div>
                </div>
              </div>
            </div>
            <!-- el end -->
          </div>
          <!-- cont inner end -->
        </div>


        </div>
        <div class="content">
          <div class="page-header" id="featuredHeader">

              <div class="overlayHeader">
                About Science Stories
            <p>
              Highlighting 5 women at Yale University in scientific research before undergraduate co-education.
            </p>
          </div></div>
        </div>
    </div>
</div>
