<script>
  var memberUsername =   '{{data.member.username}}'
</script>
<div class="page-header"><div class="overlayHeader">
  {{#if data.member.image}}
    <div class="profile-image-container">
      <img src="{{data.member.image}}" alt="">
    </div>
  {{/if}}
  <div class="profile-member-details">
    <div class="smallText">MEMBER PAGE</div>  <span class="profile-name">{{data.member.name}}</span>
    <div class="smallText accountBio">
      {{data.member.bio}}
    </div>
    <div class="smallText" id="lastLogin">
      <div id="accountTypeIcons">
        {{#ifUserType data.member.type 'user'}}
          <span class="accountIcon"><i class="far fa-user"></i></span>
        {{/ifUserType}}
        {{#ifUserType data.member.type 'author'}}
          <span class="accountIcon"><i class="fas fa-feather-alt"></i></span>
        {{/ifUserType}}
        {{#ifUserType data.member.type 'admin'}}
          <span class="accountIcon"><i class="fas fa-wrench"></i></span>
        {{/ifUserType}}
      </div>
      MEMBER SINCE: {{dateFormat data.member.createdAt 'll' false}}
    </div>
    <div class="smallText accountBio">
      {{#if data.member.wikidata}}
      <div class="social-icon-container">
        <a href="https://www.wikidata.org/wiki/User:{{data.member.wikidata}}" target="_blank">
        <img src="https://upload.wikimedia.org/wikipedia/commons/6/66/Wikidata-logo-en.svg" alt="" class="member-social-icon">
        </a>
      </div>
       {{/if}}
       {{#if data.member.linkedin}}
       <div class="social-icon-container">
         <a href="https://www.linkedin.com/in/{{data.member.linkedin}}" target="_blank">
         <img src="https://upload.wikimedia.org/wikipedia/commons/c/ca/LinkedIn_logo_initials.png" alt="" class="member-social-icon">
         </a>
       </div>
        {{/if}}
    </div>
  </div></div>
  </div>
  <script>
    $( function() {
      // $( "#tabs" ).tabs();
    } );
    </script>

  <div id="tabs">
    <ul>
      <li><a href="#activity">Activity</a></li>
      <li><a href="#favorites">Favorites</a></li>
      {{#ifUserType data.member.type 'author'}}
        <li id="contributionLi"><a href="#contributions">Contributions</a></li>
      {{/ifUserType}}

    </ul>
    <div id="activity">
      <div class="tab-header">
        {{#if data.feed_list.length }}
          Recent activity of {{data.member.name}}
        {{else}}
          No activity data yet from {{data.member.name}}
        {{/if}}
      </div>
      {{> activity_list list=data.feed_list}}


    </div>
    <div id="favorites">
      <div class="tab-header">
        {{#if data.favorites.length }}
          {{data.member.name}} has favorited {{data.favorites.length}} stories
        {{else}}
          {{data.member.name}} has not yet favorited to a story
        {{/if}}
      </div>
      {{#each data.favorites}}
        <div class="favorite-item">
          <a class="browse-story-link"  href="/{{this.qid}}">
            <div class="favorite-title">
              {{#if this.image}}
              <div class="favorite-image">
                <img src="{{this.image}}" alt="">
              </div>
              {{/if}}
              <div class="favorite-content">
              {{this.itemLabel}}
              <div class="favorite-description">
                {{this.itemDescription}}
              </div>
              </div>
            </div>
          </a>
        </div>
        {{/each}}
    </div>
    {{#ifUserType data.member.type 'author'}}
      <div class="" id="contributions">
        <div class="tab-header">
          {{#if data.contributed_total }}
            {{data.member.name}} has contributed to {{data.contributed_total}} stories
          {{else}}
            {{data.member.name}} has not yet contributed to a story
          {{/if}}
        </div>
        <div class="browse-gallery grid are-images-unloaded">
          <div class="grid__col-sizer"></div>
  <div class="grid__gutter-sizer"></div>

        </div>


        <div class="page-load-status">
          <div class="loader-ellips infinite-scroll-request">
            <span class="loader-ellips__dot"></span>
            <span class="loader-ellips__dot"></span>
            <span class="loader-ellips__dot"></span>
            <span class="loader-ellips__dot"></span>
          </div>
          <p class="infinite-scroll-last">All Contributed Stories Loaded</p>
          <p class="infinite-scroll-error">All Contributed Stories Loaded</p>
        </div>

      </div>

    {{/ifUserType}}

  </div>
