
    <nav class="navbar navbar-inverse navbar-fixed-top" id="mainNav">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">
            <img src="/static/images/branding/logo_white.png" alt="Science Stories Logo">
            <!-- Science Stories [beta] -->
          </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li {{#if_equal nav "home"}} class="active" {{else}}{{#if_equal nav "profile"}} class="active" {{else}}{{/if_equal}}{{/if_equal}}><a href="/home">Home <span class="sr-only">(current)</span></a></li>
            <!-- <li {{#if_equal nav "manifest"}} class="active" {{else}}{{/if_equal}}><a href="/manifest">Manifest</a></li> -->
            <li {{#if_equal nav "about"}} class="active" {{else}}{{/if_equal}}><a href="https://www.wikidata.org/wiki/User:YULdigitalpreservation/ScienceStories" target="_blank">About</a></li>
            <li {{#if_equal nav "story"}} class="active" {{else}}{{/if_equal}}><a href="/Q11641">Sample Story</a></li>
            <li {{#if_equal nav "browse"}} class="active" {{else}}{{/if_equal}}><a href="/browse">Browse</a></li>
            {{#ifUserType data.user.type 'author'}}
            <li class="dropdown" id="createDropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> Author Tools </a>
              <ul class="dropdown-menu">
                <!-- <li><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#createStoryModal">
                  <i class="fas fa-book"></i> | New Story
                </button></li> -->
                <li {{#if_equal nav "build"}} class="active" {{else}}{{/if_equal}}><a href="/build"><i class="fas fa-book"></i> | Build Story</a></li>
                <li {{#if_equal nav "annotate"}} class="active" {{else}}{{/if_equal}}><a href="/annotate"><i class="fas fa-feather-alt"></i> | Annotate Manifest</a></li>

              </ul>
            </li>
            {{/ifUserType}}
          </ul>
          <form class="navbar-form navbar-left" id="navSearch" action="/search" method="get">
            <div class="form-group" >
              <input name="search" type="text" class="form-control" placeholder="Search Here">
            </div>
            <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
          </form>
          <ul class="nav navbar-nav navbar-right">
            <li {{#if_equal nav "bibliography"}} class="active" {{else}}{{/if_equal}}><a href="/bibliography">Bibliography</a></li>
            <li><a href="https://github.com/ScienceStories" target="_blank">GitHub <i class="fab fa-github"></i></a></li>
            <li class="dropdown" id="accountDropDown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user-circle"></i></a>
              <ul class="dropdown-menu">
                {{#ifUserType data.user.type 'user'}}
                <li{{#if_equal nav "profile"}} class="active" {{else}}{{/if_equal}}><a href="/profile">
                  <button type="button" class="btn btn-primary" >
                  Profile
                </button></a></li>
                <li><a href="/logout">
                  <button type="button" class="btn btn-primary" >
                  Logout
                </button></a></li>
                {{else}}
                <li><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#signupModal">
                  Sign Up
                </button></li>
                <li><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#loginModal">
                  Login
                </button></li>
                {{/ifUserType}}

              </ul>
            </li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
{{> account_modals }}
