<div id="profileBody">
  <h2 class="section-header">Featured Stories</h2>
  <p class="section-subheader">Highlighting 5 Women at Yale University in Scientific Research Before Undergraduate Co-education.</p>
  <div id="featuredCarousel">


    <div class="featured-story-item">
      <a href="/Q6376201">
        <img src="http://peabody.yale.edu/sites/default/files/images/archives/Bush_KJ.jpg" alt="">
        <div class="carousel-item-header">
          Katharine Jeanette Bush <span class="fontsize50">(1855-1937)</span>
        </div>
        <div class="carousel-item-details">
          <span class="career-title">Zoologist & Researcher</span><br>
          First woman to receive a Ph.D. in the sciences at Yale University
        </div>
      </a>
    </div>

    <div class="featured-story-item">
      <a href="/Q11641">
        <img src="https://stories.vassar.edu/2017/assets/images/170706-legacy-of-grace-hopper-hopper-militarypportrait.jpeg" alt="">
        <div class="carousel-item-header">
          Grace Hopper <span class="fontsize50">(1906-1992)</span>
        </div>
        <div class="carousel-item-details">
          <span class="career-title">Computer Scientist & U.S. Navy Rear Admiral</span><br>
          Pioneer of computer programming and inventor of early compiler tools
        </div>
      </a>
    </div>

    <div class="featured-story-item">
      <a href="/Q451538">
        <img src="http://www.encyclopediaofalabama.org/images/m-6968.jpg" alt="">
        <div class="carousel-item-header">
          Dorrit Hoffleit <span class="fontsize50">(1907-2007)</span>
        </div>
        <div class="carousel-item-details">
          <span class="career-title">Research Astronomer</span><br>
          Inventor of the Bright Star Catalog
        </div>
      </a>
    </div>

    <div class="featured-story-item">
      <a href="/Q7309">
        <img src="https://profiles.nlm.nih.gov/ps/access/DJBBLB.jpg" alt="">
        <div class="carousel-item-header">
          Maxine Singer <span class="fontsize50">(1931-)</span>
        </div>
        <div class="carousel-item-details">
          <span class="career-title">Molecular Biologist</span><br>
          Contributor to research on solving the genetic code in DNA
        </div>
      </a>
    </div>


    <div class="featured-story-item">
      <a href="/Q5298518">
        <img src="http://www.polioplace.org/sites/default/files/person/horstmann-yale.jpg" alt="">
        <div class="carousel-item-header">
          Dorothy Horstmann <span class="fontsize50">(1911-2001)</span>
        </div>
        <div class="carousel-item-details">
          <span class="career-title">Epidemiologist, Virologist and Pediatrician</span><br>
          First woman appointed as a professor at the Yale School of Medicine
        </div>
      </a>
    </div>

    <!-- COPY TO FIT EVEN NUMBER BUG -->
    <div class="featured-story-item">
      <a href="/Q6376201">
        <img src="http://peabody.yale.edu/sites/default/files/images/archives/Bush_KJ.jpg" alt="">
        <div class="carousel-item-header">
          Katharine Jeanette Bush <span class="fontsize50">(1855-1937)</span>
        </div>
        <div class="carousel-item-details">
          <span class="career-title">Zoologist & Researcher</span><br>
          First woman to receive a Ph.D. in the sciences at Yale University
        </div>
      </a>
    </div>

    <div class="featured-story-item">
      <a href="/Q11641">
        <img src="https://stories.vassar.edu/2017/assets/images/170706-legacy-of-grace-hopper-hopper-militarypportrait.jpeg" alt="">
        <div class="carousel-item-header">
          Grace Hopper <span class="fontsize50">(1906-1992)</span>
        </div>
        <div class="carousel-item-details">
          <span class="career-title">Computer Scientist & U.S. Navy Rear Admiral</span><br>
          Pioneer of computer programming and inventor of early compiler tools
        </div>
      </a>
    </div>

    <div class="featured-story-item">
      <a href="/Q451538">
        <img src="http://www.encyclopediaofalabama.org/images/m-6968.jpg" alt="">
        <div class="carousel-item-header">
          Dorrit Hoffleit <span class="fontsize50">(1907-2007)</span>
        </div>
        <div class="carousel-item-details">
          <span class="career-title">Research Astronomer</span><br>
          Inventor of the Bright Star Catalog
        </div>
      </a>
    </div>

    <div class="featured-story-item">
      <a href="/Q7309">
        <img src="https://profiles.nlm.nih.gov/ps/access/DJBBLB.jpg" alt="">
        <div class="carousel-item-header">
          Maxine Singer <span class="fontsize50">(1931-)</span>
        </div>
        <div class="carousel-item-details">
          <span class="career-title">Molecular Biologist</span><br>
          Contributor to research on solving the genetic code in DNA
        </div>
      </a>
    </div>


    <div class="featured-story-item">
      <a href="/Q5298518">
        <img src="http://www.polioplace.org/sites/default/files/person/horstmann-yale.jpg" alt="">
        <div class="carousel-item-header">
          Dorothy Horstmann <span class="fontsize50">(1911-2001)</span>
        </div>
        <div class="carousel-item-details">
          <span class="career-title">Epidemiologist, Virologist and Pediatrician</span><br>
          First woman appointed as a professor at the Yale School of Medicine
        </div>
      </a>
    </div>
  </div>
  <div class="profile-list">
    <div class="profile-list-header">
      Favorite Stories
    </div>
    <div class="profile-list-content">
      {{#each data.favorites}}
      <a href="/{{this.qid}}">
      <div class="profile-list-item">
        <div class="profile-list-image">
          <img src="{{this.image}}" alt="">
        </div>
        <div class="profile-list-details">
          <div class="profile-list-title">
            {{this.itemLabel}}
          </div>
          <div class="profile-list-description">
            {{this.itemDescription}}
          </div>
        </div>

      </div></a>
      {{/each}}
    </div>
  </div>
  <div class="profile-list">
    <div class="profile-list-header">
      My Top Stories
    </div>
    <div class="profile-list-content">
      {{#each data.mostViews}}
      <a href="/{{this.qid}}">
      <div class="profile-list-item">
        <div class="profile-list-image">
          <img src="{{this.image}}" alt="">
        </div>
        <div class="profile-list-details">
          <div class="profile-list-title">
            {{this.itemLabel}}
          </div>
          <div class="profile-list-description">
            {{this.itemDescription}}
          </div>
        </div>

      </div></a>
      {{/each}}
      <a href="/browse" class="profile-list-end-action">Browse More <i class="fas fa-arrow-right"></i></a>
    </div>
  </div>
  <div class="profile-list">
    <div class="profile-list-header">
      Trending Stories
    </div>
    <div class="profile-list-content">
      {{#each data.trending}}
      <a href="/{{this.qid}}">
      <div class="profile-list-item">
        <div class="profile-list-image">
          <img src="{{this.image}}" alt="">
        </div>
        <div class="profile-list-details">
          <div class="profile-list-title">
            {{this.itemLabel}}
          </div>
          <div class="profile-list-description">
            {{this.itemDescription}}
          </div>
        </div>

      </div></a>
      {{/each}}
      <a href="/browse" class="profile-list-end-action">Browse More <i class="fas fa-arrow-right"></i></a>
    </div>
  </div>
</div>
