<div id="profileBody">
  <div class="profile-list">
    <div class="profile-list-header">
      Favorite Stories
    </div>
    <div class="profile-list-content">
      {{#each data.favorites}}
      <a href="/{{this.qid}}">
      <div class="profile-list-item">
        <div class="profile-list-image">
          <img src="{{this.image}}" alt="">
        </div>
        <div class="profile-list-details">
          <div class="profile-list-title">
            {{this.itemLabel}}
          </div>
          <div class="profile-list-description">
            {{this.itemDescription}}
          </div>
        </div>

      </div></a>
      {{/each}}
    </div>
  </div>
  <div class="profile-list">
    <div class="profile-list-header">
      My Top Stories
    </div>
    <div class="profile-list-content">
      {{#each data.mostViews}}
      <a href="/{{this.qid}}">
      <div class="profile-list-item">
        <div class="profile-list-image">
          <img src="{{this.image}}" alt="">
        </div>
        <div class="profile-list-details">
          <div class="profile-list-title">
            {{this.itemLabel}}
          </div>
          <div class="profile-list-description">
            {{this.itemDescription}}
          </div>
        </div>

      </div></a>
      {{/each}}
      <a href="/browse" class="profile-list-end-action">Browse More <i class="fas fa-arrow-right"></i></a>
    </div>
  </div>
  <div class="profile-list">
    <div class="profile-list-header">
      Trending Stories
    </div>
    <div class="profile-list-content">
      {{#each data.trending}}
      <a href="/{{this.qid}}">
      <div class="profile-list-item">
        <div class="profile-list-image">
          <img src="{{this.image}}" alt="">
        </div>
        <div class="profile-list-details">
          <div class="profile-list-title">
            {{this.itemLabel}}
          </div>
          <div class="profile-list-description">
            {{this.itemDescription}}
          </div>
        </div>

      </div></a>
      {{/each}}
      <a href="/browse" class="profile-list-end-action">Browse More <i class="fas fa-arrow-right"></i></a>
    </div>
  </div>
</div>
