<div id="sideBar">
  <div class="user-image" style="background-image: url('{{data.user.image}}')">
    <div class="user-image-overlay"></div>
  </div>
  <div class="user-details">
    <div class="user-username">@{{data.user.username}}</div>
    {{#if data.user.wikidata}}
      <div class="user-wikidata">Wikidata: <a href="https://www.wikidata.org/wiki/User:{{data.user.wikidata}}">{{data.user.wikidata}}</a></div>
    {{/if}}
  </div>
  <div class="sidebar-nav-btns">
    <div class="sidebar-nav-btn active">
      Overview
    </div>
    <div class="sidebar-nav-btn" title="Coming Soon">
      Story Feed
    </div>
    <div class="sidebar-nav-btn" title="Coming Soon">
      Analytics
    </div>
    {{#ifUserType data.user.type 'author'}}
    <div class="sidebar-nav-btn" title="Coming Soon">
      Contributions
    </div>
    {{/ifUserType}}
  </div>
</div>
<div id="mainContent">
  <div class="page-header"><div class="overlayHeader">
    <div class="smallText">WELCOME BACK</div>  {{data.user.name}}
    <div class="smallText" id="lastLogin">
      <div id="accountTypeIcons">
        {{#ifUserType data.user.type 'user'}}
          <span class="accountIcon"><i class="far fa-user"></i></span>
        {{/ifUserType}}
        {{#ifUserType data.user.type 'author'}}
          <span class="accountIcon"><i class="fas fa-feather-alt"></i></span>
        {{/ifUserType}}
        {{#ifUserType data.user.type 'admin'}}
          <span class="accountIcon"><i class="fas fa-wrench"></i></span>
        {{/ifUserType}}
      </div>
      MEMBER SINCE: {{dateFormat data.user.creadedAt 'll' false}}
    </div>
  </div></div>
  <div id="profileBody">
    <div class="profile-list">
      <div class="profile-list-header">
        Favorite Stories
      </div>
      <div class="profile-list-content">
        {{#each data.favorites}}
        <a href="/{{this.qid}}">
        <div class="profile-list-item">
          <div class="profile-list-image">
            <img src="{{this.image}}" alt="">
          </div>
          <div class="profile-list-details">
            <div class="profile-list-title">
              {{this.label}}
            </div>
            <div class="profile-list-description">
              {{this.description}}
            </div>
          </div>

        </div></a>
        {{/each}}
      </div>
    </div>
    <div class="profile-list">
      <div class="profile-list-header">
        My Top Stories
      </div>
      <div class="profile-list-content">
        {{#each data.mostViews}}
        <a href="/{{this.qid}}">
        <div class="profile-list-item">
          <div class="profile-list-image">
            <img src="{{this.image}}" alt="">
          </div>
          <div class="profile-list-details">
            <div class="profile-list-title">
              {{this.label}}
            </div>
            <div class="profile-list-description">
              {{this.description}}
            </div>
          </div>

        </div></a>
        {{/each}}
        <a href="/browse" class="profile-list-end-action">Browse More <i class="fas fa-arrow-right"></i></a>
      </div>
    </div>
    <div class="profile-list">
      <div class="profile-list-header">
        Trending Stories
      </div>
      <div class="profile-list-content">
        {{#each data.trending}}
        <a href="/{{this.qid}}">
        <div class="profile-list-item">
          <div class="profile-list-image">
            <img src="{{this.image}}" alt="">
          </div>
          <div class="profile-list-details">
            <div class="profile-list-title">
              {{this.label}}
            </div>
            <div class="profile-list-description">
              {{this.description}}
            </div>
          </div>

        </div></a>
        {{/each}}
        <a href="/browse" class="profile-list-end-action">Browse More <i class="fas fa-arrow-right"></i></a>
      </div>
    </div>
  </div>
</div>
<script>
  $( function() {
    // $( document ).tooltip({
    //   track: true
    // });
    $(document ).tooltip({
  position: { my: "left+15 center", at: "right center" }
});
  } );
  </script>
