<div id="sideBar">
  <div class="user-image" style="background-image: url('{{#if data.user.image}}{{data.user.image}}{{else}}https://images.unsplash.com/photo-1499428665502-503f6c608263?ixlib=rb-0.3.5&s=65ad43b134b770fa3b0f784b58c76dbb&auto=format&fit=crop&w=1950&q=80{{/if}}')">
    <div class="user-image-overlay"></div>
  </div>
  <div class="user-details">
    <div class="user-username">@{{data.user.username}}</div>
    {{#if data.user.wikidata}}
      <div class="user-wikidata">Wikidata: <a href="https://www.wikidata.org/wiki/User:{{data.user.wikidata}}">{{data.user.wikidata}}</a></div>
    {{/if}}
  </div>
  <div class="sidebar-nav-btns">
    <div class="sidebar-nav-btn" title="Coming Soon">
      Account
    </div>
    <div class="sidebar-nav-btn {{#if_equal (profile_nav) "overview"}}active{{/if_equal}}" onclick="window.location='/profile';">
      Overview
    </div>
    <div class="sidebar-nav-btn {{#if_equal (profile_nav) "feed"}}active{{/if_equal}}" onclick="window.location='/feed';">
      News Feed
    </div>
    <div class="sidebar-nav-btn" title="Coming Soon">
      Analytics
    </div>
    {{#ifUserType data.user.type 'author'}}
    <div class="sidebar-nav-btn" title="Coming Soon">
      Contributions
    </div>
    {{/ifUserType}}
    {{#ifUserType data.user.type 'admin'}}
    <div class="sidebar-nav-btn {{#if_equal (profile_nav) "admin"}}active{{/if_equal}}"  onclick="window.location='/admin';" >
      Admin Panel
    </div>
    {{/ifUserType}}
  </div>
</div>
