<div class="page-header">
  <div class="overlayHeader">
    {{data.story_total}}
    {{#if_equal data.story_total 1}} Story {{else}} Stories {{/if_equal}}
    & {{data.member_total}}
    {{#if_equal data.member_total 1}} Member {{else}} Members {{/if_equal}}
    Found
  </div>
</div>
<div id="bibliography">
  {{#if_equal data.results.length 0}}
  <div class="no-results-message">
    Try New Search or <a href="/browse">Browse Stories</a>.
  </div>
  {{/if_equal}}
  {{#each data.results}}
    <div class="work-item">
      <a class="browse-story-link"  href="/{{this.qid}}">
        <div class="item-title">
          {{#if this.image}}
          <div class="work-icon">
            <img src="{{this.image}}" alt="">
          </div>
          {{/if}}
          <div class="work-content">
          {{this.itemLabel}}
          <div class="work-description">
            {{this.itemDescription}}
          </div>
          </div>
        </div>
      </a>
    </div>
    {{/each}}
</div>
{{> footer}}
<style>
  .page-wrapper {
      padding-bottom: 0 !important;
  }
</style>
