<link rel='stylesheet prefetch' href='http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/smoothness/jquery-ui.css'>
<link rel='stylesheet prefetch' href='https://rawgithub.com/alvarotrigo/pagePiling.js/master/jquery.pagepiling.css'>

<link rel="stylesheet" type="text/css" href="static/vendor/mirador/css/mirador-combined.css">
<link href="static/vendor/timespace/css/jquery.timespace.light.css" rel="stylesheet">
<link rel="stylesheet" href="/static/css/story.css">
<script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script src='http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js'></script>


<script src="static/vendor/mirador/mirador.js"></script>

<script src='https://rawgit.com/alvarotrigo/pagePiling.js/master/jquery.pagepiling.min.js'></script>
<script src="static/vendor/timespace/jquery.timespace.js"></script>
