<link rel='stylesheet prefetch' href='http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/smoothness/jquery-ui.css'>
<link rel='stylesheet prefetch' href='https://rawgithub.com/alvarotrigo/pagePiling.js/master/jquery.pagepiling.css'>

<link rel="stylesheet" type="text/css" href="static/vendor/mirador/css/mirador-combined.css">
<link href="static/vendor/timespace/css/jquery.timespace.light.css" rel="stylesheet">
<link rel="stylesheet" href="/static/css/story.css">
<script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script src='http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js'></script>


<script src="static/vendor/mirador/mirador.js"></script>

<script src='https://rawgit.com/alvarotrigo/pagePiling.js/master/jquery.pagepiling.min.js'></script>
<script src="static/vendor/timespace/jquery.timespace.js"></script>

<link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.3/dist/leaflet.css"
  integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
  crossorigin=""/>
  <script src="https://unpkg.com/leaflet@1.3.3/dist/leaflet.js"
  integrity="sha512-tAGcCfR4Sc5ZP5ZoVz0quoZDYX5aCtEm/eu1KhSLj2c9eFrylXZknQYmxUssFaVJKvvc0dJQixhGjG2yXWiV9Q=="
  crossorigin=""></script>
