<a id="homeButton" href="/">
  <!-- Science Stories -->
  <img src="/static/images/branding/logo_white.png" alt="Science Stories Logo">
</a>
<button id="arrow">
  <span>↓</span>
</button>
<!-- slide types:

  * 1. Intro (background pic + name and 1-line description)
  ! 2. Universal viewer (pdf, video) [Can't do until Mirador updates OpenSeaDragon]
  # 3. Mirador
  # 4. youtube
    5. Side-By-Side
  * 6. Timeline
  * 7. Wikipedia
  * 8. Wikidata
    9. Conclusion (Wikidata, all other resources)
 -->
<div id="pagepiling">
  {{> intro }}
  {{> mirador }}
  {{> youtube }}
  {{> wikipedia }}
  {{> timeline }}
  {{> wikidata }}
  {{> index }}
</div>
