
<script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script src='http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js'></script>


<script src="static/vendor/mirador/mirador.js"></script>
<script type="text/javascript">
var wikititle = '{{wikipedia}}'.replace(" ", "_")
 $(function() {
   // Called without "let" or "var"
   // so we can play with it in the browser
   myMiradorInstance = Mirador({
     "id": "viewer",
     "layout": "1x1",
     "data": [
       // { "manifestUri": "http://127.0.0.1:8000/collection/test.json", "location": "Yale"},

       { "manifestUri": "/api/iiif/hoffleit", "location": "Yale"},
       { "manifestUri": "/api/iiif/manifest/FirstGlossaryProgrammingTerminology.json", "location": "Yale"},
       { "manifestUri": "/api/iiif/hopper", "location": "Yale"},
       { "manifestUri": "/api/iiif/hopper2", "location": "Yale"},
       { "manifestUri": "https://iiif.lib.harvard.edu/manifests/drs:9596592", "location": "Harvard University"},

     ],
     "windowObjects": [
       {loadedManifest: "/api/iiif/hoffleit",
       sidePanelVisible: false,
       "canvasControls": { // The types of controls available to be displayed on a canvas
         "annotations" : {
           "annotationLayer" : true, //whether or not to make annotation layer available in this window
           "annotationCreation" : true, /*whether or not to make annotation creation available in this window,
                        only valid if annotationLayer is set to True and an annotationEndpoint is defined.
                        This setting does NOT affect whether or not a user can edit an individual annotation that has already been created.*/
           "annotationState" : 'on', //[_'off'_, 'on'] whether or not to turn on the annotation layer on window load
           "annotationRefresh" : false, //whether or not to display the refresh icon for annotations
         },
       },
     }
     ],

     // "annotationEndpoint": { "name":"Local Storage", "module": "LocalStorageEndpoint" },
      "annotationEndpoint": {
	name: 'Simple Annotation Store Endpoint',
	module: 'SimpleASEndpoint',
	options: {
		url: 'http://sciencestories-annotate.herokuapp.com/annotation',
    storeId:'comparison',
		APIKey:'user_auth'
	}
},
 "annotationState": 'annoOnCreateOn',
     "sidePanelOptions" : {
       "tocTabAvailable": false,
       "layersTabAvailable": false,
       "searchTabAvailable": false,
       "annotations" : false
     },
  });
 });
</script>
<script src='https://rawgit.com/alvarotrigo/pagePiling.js/master/jquery.pagepiling.min.js'></script>
<script src="static/vendor/timespace/jquery.timespace.js"></script>
<script  src="static/js/story.js"></script>
