.page-header{
      background-image: url(https://images.unsplash.com/photo-1458040937381-49c067dfd49a?ixlib=rb-0.3.5…EyMDd9&s=a2d5938…&auto=format&fit=crop&w=1950&q=80);
}

.overlayHeader {
    background: #6633998c;
}

.work-item {
    margin: 25px 1%;
    /* display:  inline-block; */
}

.item-title {
    padding: 15px 5%;
    /* background: #1bcca31f; */
    /* color:  white; */
    font-size: 150%;
    /* text-align:  center; */
    border-bottom: 1px solid #b5b5b5;
}

div#bibliography {
    padding:  10px 5%;
}
.work-description {
    font-weight:  200;
    font-size: 90%;
    padding-left:  3%;
}

.item-author {
    padding-left:  3%;
    font-weight:  200;
    font-size: 65%;
}
.work-icon {
    display: inline-flex;
    height:  100%;
    vertical-align: top;
    font-size: 183%;
    border-right:  1px solid;
    padding-right: 15px;
    margin-right: 9px;
}

.work-content {
    display: inline-block;
    width: calc(95% - 10px - 2em);
}
.item-title:hover {
    background: #5b298091;
    color: white;
}
.work-item:hover {
    transform: scale(1.02);
}
