.page-header {
        background-image: url(https://images.unsplash.com/photo-1433840688634-c05a545c2594?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=bfc5f808b50a99eb6588e0abfd9257cc&auto=format&fit=crop&w=1950&q=80);
}
input, textarea, option, select {
    padding: 5px;
    text-align: center;
}

input.moment-config-data-input[name=manifestUri] {
    width: 90%;
}
div#buildStoryDiv {
    padding:  20px;
    text-align:  center;
}

.momentDiv {
    background: white;
    padding: 2em;
    width:  80%;
    box-shadow: 1px 2px 13px 7px #0000003b;
    text-align:  center;
    margin: 75px auto;
    font-size:  139%;
    font-weight: 200;
}

.inputLabel {
    width: 100%;
    text-align: left;
}

input.moment-input {
    width:  100%;
    padding: 5px;
}

.inputDiv {
    margin: 20px 10px;
}

textarea.moment-input {width:  100%;resize: vertical;}

input.moment-input[type=color] {
    height: 2em;
    padding:  0;
}

form#buildStoryForm {
}

button.buildBtn {
    background:  none;
    border: 2px solid;
    font-size: 150%;
    font-weight:  bold;
    margin: 0px 10px;
    width: 30%;

}
div#qidSection {
    font-size: 2rem;
    font-weight: bold;
    background: #3d4144;
    padding: 8px 12px;
    position: fixed;
    bottom: 25px;
    right: 0;
    color: white;
    text-align: right;
}
#qidSection span {
  padding: 8px;
  background:  #4a5156;
  color: #2cd6ca;
}

#qidSection input {
    background:  none;
    border:  none;
}
input#wdIdentifier {
    border: none;
    text-align: left;
    width: 10pc;
}

.buildSection {
    margin: 1em auto;
}

#actionButtons>div {
    padding:  10px;
}

button#addMomentBtn {
    color: white;
    border-color: white;
}

button#addMomentBtn:hover {
    color:  #3e4144;
    background: white;
}

button#previewBtn {
    color: #7f4faf;
    border-color: #7f4faf;
    font-weight:  bold;
}

button#previewBtn:hover {
    background:  #7f4faf;
    color: white;
}

button#submitBtn {
    color: #2dd6c9;
    border-color: #2dd6c9;
}

button#submitBtn:hover {
    background:  #2dd6c9;
    color:  white;
}
.moment-btn {
    float: right;
    opacity: .5;
    cursor: pointer;
}
.moment-btn:hover{
  opacity: 1;
}
div#momentList {
    padding: 3em 0px;
    background: #ececec;
    margin: 0 13%;
}

.moment-config-data-div {
    background: #ececec;
    padding:  10px;
    margin:  9px;
    text-align:  center;
}
.ui-tooltip {
    padding: 10px 20px;
    color: white;
    font-size: 50%;
    text-transform: uppercase;
    box-shadow: 0 0 7px black;
    background: black;
    border: none;
}
div#actionButtons {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #3e4144;
    padding: 10px;
    font-size: .9rem;
}
.inputLabel, .momentHeader {
    color: #2fb1a8;
    font-weight:  400;
}
