*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.home-section a {
    color:  inherit !important;
    text-decoration:  inherit !important;
    outline: inherit !important;
}
#welcome {
    background-image: url(../images/welcome_bg1.jpg);
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    min-height: 125vh;
}
#arrow {
   width: 100%;
   height: 50px;
   text-align: center;
   cursor: pointer;
   position: fixed;
   bottom: 0;
   left: 0;
   border: 0;
   outline: 0;
   z-index: 100;
   color: #BBB;
   background: transparent;
   -moz-transition: all 0.2s cubic-bezier(0.7, 0.01, 0.3, 1);
   -o-transition: all 0.2s cubic-bezier(0.7, 0.01, 0.3, 1);
   -webkit-transition: all 0.2s cubic-bezier(0.7, 0.01, 0.3, 1);
   transition: all 0.2s cubic-bezier(0.7, 0.01, 0.3, 1);
   font: 36px Heiti, 'Lucida Grande', Arial;
   font-weight: bold;
}
#arrow span {
   display: inline-block;
   position: relative;
   top: -18px;
   -moz-transition: all 0.7s cubic-bezier(0.7, 0.01, 0.3, 1);
   -o-transition: all 0.7s cubic-bezier(0.7, 0.01, 0.3, 1);
   -webkit-transition: all 0.7s cubic-bezier(0.7, 0.01, 0.3, 1);
   transition: all 0.7s cubic-bezier(0.7, 0.01, 0.3, 1);
}
#arrow:hover {
   background: #7a3be08c;
}
#arrow:hover span {
   top: 0;
   color: #FFF;
}


#welcome img {
    max-width: 80%;
    opacity:  0.8;
    margin-top: 30vh;
}

#welcome p {
    font-size: 4vw;
    color: #0000005e;
    padding-bottom: 50px;
}
.featured-story-item {
    margin: 50px 25px;
    opacity: .3;
}
.featured-story-item img {
    width: 100%;
    height: 65vh;
    object-fit: cover;
    object-position: top;
    filter: grayscale(100%);
}
.featured-story-item .carousel-item-header {
    font-size: 1.3vw;
    padding-top: 15px;
}

.featured-story-item.slick-active{
    opacity : .5;
}
.featured-story-item.slick-current{
    opacity : .8;
    color: #449894;
}
.featured-story-item:hover{
    opacity : 1;
    color: #734498;
}
span.career-title {
    font-size: 140%;
    font-weight: 300;
}

.carousel-item-details {
    font-weight: 300;
    font-size: 115%;
}
section#featured {
  padding: 50px 0;
}

h2.section-header {
    font-size:  4vw;
    font-weight:  300;
    color:  gray;
    text-align:  center;
    margin-top: 0;
}
.section-subheader {
    color: #676767;
    text-align: center;
    font-weight: 300;
    font-size: 150%;
}
.left, .right {
    width: 48%;
    vertical-align: middle;
    margin: 0 auto;
    display: table-cell;
    padding: 5px;
}

.left img, .right img {
    width:  100%;
    vertical-align: text-bottom;
    /* height: 100%; */
    object-fit:  cover;
    box-shadow: -1px 1px 1px #8c8c8c;
}

section#project {
    /* height:  115vh; */
    background: #ececec;
    padding: 50px;
}

#sources{
    padding: 50px 0;
}
.source-carousel-item.slick-slide img {
    height: 100%;
    filter: grayscale(100%);
}
.source-carousel-item.slick-slide img:hover {
    filter: inherit;
}


.source-carousel-item.slick-slide {
    height: 65px;
    padding: 15px;

}

.research-images img {
    width:  30vw;
    margin:  0 auto;
    box-shadow: 0px 5px 9px #737373;
}

.research-images {
    text-align:  center;
}
section#features {
    padding-bottom: 150px;
    padding: 50px;
}
section#footer {
    background: #3ccfbe;
    padding:  50px;
    font-size: 125%;
    font-weight: 300;
    text-align:  center;
}
#footer div {
    font-size: 2em;
    color: white;
}
section#footer a {
    color: white !important;
}
section#footer a:hover {
    color: black !important;
}
.feature-icon {
    margin: 0;
    width: 100%;
    text-align: center;
    font-size: 7em;
    color: #71ded49c;
}
section#storyCount {
    font-size: 6vw;
    text-align: center;
    padding: 50px 10px;
}
span.counter-text {
    vertical-align:  bottom;
}

span.smallText {
    font-size:  50px;
    color: #d2d2d2;
}
span.odometer-value {
    color: white !important;
}
.odometer.odometer-auto-theme .odometer-digit:last-child, .odometer.odometer-theme-car .odometer-digit:last-child{
    background: #16d2c0;
}
.odometer.odometer-auto-theme .odometer-digit:last-child, .odometer.odometer-theme-car .odometer-digit:last-child .odometer-value {
    color: #323232;
}

.story-odometer.odometer.odometer-theme-car {
    background: white;
}
.twitter-container{
  max-height: 500px;
  overflow-y: scroll;
  margin: 100px 100px 100px 50px;
}
