div#sideBar {
    background: #262729;
    color:  white;
    width: 200px;
    /* display: inline-block; */
    height: 100%;
    z-index: 1;
    position:  fixed;
    overflow-x: hidden;
    font-size:  1.5pc;
    font-weight:  bold;
}

div#mainContent {
    width: calc(100vw - 200px);
    display: inline-block;
    margin-left: 200px;
}

.page-wrapper {
    padding: 0;
    min-height:  100vh;
    width:  100%;
    margin-top: 50px;
    transition: none;
}
div#accountTypeIcons {
    display: inline;
    margin-right: 15px;
    padding-right:  15px;
    border-right: 2px solid white;
}

span.accountIcon {
    color: white;
    vertical-align:  middle;
    /* font-size: 82%; */
    margin-left:  6px;
}
  div.profile-list-item:hover .profile-list-image {
      height: 100px;
  }
.profile-list-image {
    width: 75px;
    display:  inline-block;
    height: 60px;
    vertical-align:  top;
}

.page-header {
    line-height: 1;
    margin:  0;
    /* margin-top: 50px; */
    padding: 0;
    background-image: url(https://images.unsplash.com/photo-1517329813204-32a25f5e1b50?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=247642d2ffc55af7d041aa94498f90ea&auto=format&fit=crop&w=2800&q=80);
    background-position: center;
    background-repeat: no-repeat;
    background-size:  cover;
    font-weight:  bold;
    color: white;
    text-shadow: 1px 2px 6px black;
    font-size: 5em;
}
.overlayHeader {
    line-height: 1;
    margin: 0;
    padding: 35px;
    padding-top: 75px;
    /* background-position: center; */
    /* background-repeat: no-repeat; */
    /* background-size: cover; */
    font-weight: bold;
    color: white;
    text-shadow: 1px 2px 6px black;
    /* font-size: 5em; */
    background: #3cffe75e;
}
div#profileBody {
    text-align:  center;
    vertical-align:  top;
}

.profile-list {
    display: inline-block;
    margin:  0 auto;
    width: 30%;
    margin:  1%;
    height:  100%;
    vertical-align: top;
}

.profile-list-header {
    font-weight:  bold;
    font-size: 2em;
    border-bottom:  2px solid gray;
    text-align: left;
    padding:  5px;
}

.profile-list-content {
    width:  100%;
}
div.profile-list-content > a {
    color: inherit;
    text-decoration: none;
    height: 100%;
}
.profile-list-content * {
    transition: none;
}

.profile-list-content .profile-list-item {
    width: 100%;
    text-align: left;
    padding: 5px;
    margin: 5px;
    transition: all .4s ease;
}
.profile-list-item:hover {
    font-size: 138%;
    background: #ececec;
    /* text-align:  center; */
    color:  black;
    font-weight:  bold;
}

.profile-list-image img {
    width:  100%;
    height: 100%;
    object-fit: cover;
}

.profile-list-details {
    display:  inline-block;
    padding: 0px 10px;
    width: calc(100% - 80px);
}
.smallText {
    font-size:  33%;
    margin:  0;
}
#lastLogin{
  color: #fbe691;
}
div.profile-list-content > a.profile-list-end-action:hover {
    color: gray;
}
div.profile-list-content > a.profile-list-end-action {
    color: #38bfaf;
    font-size: 125%;
    transition: all .4s ease;
}
.profile-list-title {
    font-weight:  bold;
    font-size:  139%;
}

.profile-list-description {
    font-weight: 300;
    font-size: 91%;
}

.user-image {
    height: 200px;
    background-position:  top;
    background-repeat:  no-repeat;
    background-size:  cover;
    width:  100%;
    opacity:  .8;
}

.user-image-overlay {
    width:  100%;
    height:  100%;
    background: rgb(39,39,42);
    background: -moz-linear-gradient(0deg, rgba(39,39,42,1) 12%, rgba(39,39,42,0) 100%);
    background: -webkit-linear-gradient(0deg, rgba(39,39,42,1) 12%, rgba(39,39,42,0) 100%);
    background: linear-gradient(0deg, rgba(39,39,42,1) 12%, rgba(39,39,42,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#27272a",endColorstr="#27272a",GradientType=1);
}
.user-details {
    text-align:  center;
    font-size: 75%;
    font-weight:  300;
    color: #afafaf;
    opacity: .9;
}

.user-username {
    font-size:  142%;
}

.user-wikidata {
    font-size:  72%;
}

.user-wikidata a {
    color: #4bbfaf;
}
.sidebar-nav-btns {
    /* vertical-align: bottom; */
    min-height: 25pc;
    width:  100%;
    font-size:  85%;
    text-align:  center;
    margin-top:  20px;
}

.sidebar-nav-btn {vertical-align:  bottom;padding: 5px 15px;width:  100%;}

.sidebar-nav-btn.active {
    background: black;
    border-left:  3px solid;
    color: #39bfaf;
}
.profile-header {
    font-size:  200%;
    font-weight: 500;
    width: 80%;
    margin:  0 auto;
    border-bottom:  1px solid;
}

div#profileBody {
    background: #f1f1f1;
    height: 100%;
    padding: 30px 0;
}

.profile-feed-item {
    background:  white;
    width:  80%;
    margin:  0 auto;
    box-shadow: 0px 0px 3px #b7b7b7;
    margin-top:  20px;
    text-align:  left;
}

.feed-item-user {
    width:  100%;
}

.user-image-container {
    width: 75px;
    height: 75px;
    border: 2px solid white;
    border-radius:  100%;
    box-shadow: 0 0 2px #dadada;
    display:  inline-block;
}

.user-image-container img {
    width:  100%;
    object-fit:  cover;
    height:  100%;
    object-position:  top;
    border-radius: 100%;
}

.user-name {
    display:  inline;
    font-size: 125%;
    font-weight:  bold;
}

.user-activity-desc {
    display:  inline;
}
.user-activity-date {
    display: inline-block;
}
.user-details-container {
    width: calc(100% - 100px);
    display: inline-block;
    height:  100%;
    padding-left: 10px;
    vertical-align: middle;
}

.user-activity-date {
    width:  100%;
    font-weight:  400;
    color:  gray;
}

.feed-item-user {
    padding:  15px;
}

div.feed-image img {
    width:  100%;
    height:  100%;
    max-height: 50vh;
    object-position: 50% 25%;
    object-fit:  cover;
}

.feed-title {
    font-weight:  bold;
    font-size:  248%;
    padding: 20px;
    padding-bottom: 5px;
}
.feed-description {
    padding: 0 25px;
    padding-bottom:  25px;
    font-weight: 300;
}
.feed-story-comment {
    padding: 15px;
    font-size: 125%;
    font-weight: 400;
}
.feed-story-comment i {
    color: #dadada;
    padding: 10px;
}
.user-activity-desc i {
    font-size: 300%;
    position: absolute;
    right: calc(10% + 10px);
    opacity: .5;
}
.sidebar-nav-btn:hover {
    background: #39bfaf;
    color: #27272a;
    cursor: pointer;
}
.profile-feed-container a {
    color: inherit;
    text-decoration: inherit;
}
.admin-stat-list {
    width: 80%;
    margin: 40px auto;
}
.admin-stat-container {
    background:  white;
    box-shadow: 0 0 3px #00000063;
    margin:  5px;
    display:  inline-block;
    font-size:  150%;
    padding:  25px 10px;
}

.stat-width-3 {
    width: calc(33% - 15px);
}
.stat-width-4 {
    width: calc(25% - 15px);
}
.admin-stat-value {
    font-size:  300%;
}

.admin-stat-container.stat-width-2 {
    width: calc(50% - 25px);
}
.admin-stat-value i {
    font-size: 50%;
    opacity: .5;
}


.featured-story-item a {
    color:  inherit !important;
    text-decoration:  inherit !important;
    outline: inherit !important;
}
.featured-story-item {
    margin: 50px 25px;
    opacity: .3;
}
.featured-story-item img {
    width: 100%;
    height: 50vh;
    object-fit: cover;
    object-position: top;
    filter: grayscale(100%);
}
.featured-story-item .carousel-item-header {
    font-size: 1.3vw;
    padding-top: 15px;
}

.featured-story-item.slick-active{
    opacity : .5;
}
.featured-story-item.slick-current{
    opacity : .8;
    color: #449894;
}
.featured-story-item:hover{
    opacity : 1;
    color: #734498;
}
span.career-title {
    font-size: 140%;
    font-weight: 300;
}

.carousel-item-details {
    font-weight: 300;
    font-size: 115%;
}
section#featured {
  padding: 50px 0;
}

h2.section-header {
    font-size:  4vw;
    font-weight:  300;
    color:  gray;
    text-align:  center;
    margin-top: 0;
}
.section-subheader {
    color: #676767;
    text-align: center;
    font-weight: 300;
    font-size: 150%;
}
