.work-icon {
    max-width: 20%;
    height: 100%;
    display:  inline-block;
}

.work-icon img {
    width:  100%;
    /* height:  100%; */
    height: 150px;
    object-fit:  cover;
    object-position: 50% 20%;
}

.work-content {
    width:  inherit;
    vertical-align:  middle;
    height: 150px;
    font-size:  150%;
}

.overlayHeader {
    background: #9991338c;
}

.page-header {
    background-image: url(https://images.unsplash.com/photo-1473163928189-364b2c4e1135?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=ee5e18cdddc31a8d01a269b715101a03&auto=format&fit=crop&w=1950&q=80);
}

.work-item {}

.item-title:hover {
    background: #c19a2c;
}
.no-results-message a {
    color: #23908d;
}

.no-results-message {
    width: 100%;
    text-align: center;
    font-size: 250%;
    padding: 50px;
    color: gray;
}
