.page-wrapper{
      background: #404040;
}
div#story_name {
    font-size:  150%;
    font-weight:  bold;
    border-bottom:  1px solid;
}

div#story_div {
    text-align:  center;
    font-weight: 300;
    font-size:  120%;
    padding: 40px;
    color: #a5fbff;
}

div#story_div ul {
    list-style:  none;
    padding:  0;
    padding-top: 10px;
}

span.prop {
    font-weight: 400;
    color: white;
}
div#conent_panel {
    width: 30%;
    display: inline-block;
    background: #615763;
    height: 80vh;
    overflow-y: scroll;
}
/*  viewer */
#viewer {
    vertical-align: top;
    width: 69%;
    /* overflow: scroll; */
    height: 80vh;
    position: relative;
    margin: 0 auto;
    color: black;
    display: inline-block;
}
