body{
  display: inherit;
}
div#pagepiling * {
    transition: none;
}

button#favoriteBtn, button#favoriteBtn.favorited:hover {
    color: #ffffff9e;
    background: none;
    position: fixed;
    z-index: 10000000000000000;
    left: -130px;
    border: none;
    top: 75px;
    font-size: 140%;
    font-weight: bold;
    background: #808080;
    padding: 5px;
    border-radius: 5px;
    opacity: .5;
    margin-left: 10vw;
    /* width: 10vw; */
    position: absolute;
    z-index: 1000000000000;
}
button#favoriteBtn:hover, button#favoriteBtn.favorited {
    color: red;
}
button#buildBtn {
    color: #ffffff9e;
    background: none;
    position: fixed;
    z-index: 10000000000000000;
    left: -90px;
    top: 75px;
    font-size: 140%;
    font-weight: bold;
    background: #808080;
    padding: 5px;
    border-radius: 5px;
    opacity: .5;
    margin-left: 10vw;
    /* width: 10vw; */
    position: absolute;
    z-index: 1000000000000;
    border:  none;
}

button#buildBtn:hover {
    color: white;
    opacity:  1;
    background: #7d2a98;
}

#homeButton {
    color: #ffffff9e;
    background: none;
    position: fixed;
    z-index: 10000000000000000;
    left: 15px;
    top: 15px;
    font-size: 140%;
    font-weight: bold;
    background: #808080;
    padding: 5px;
    border-radius: 5px;
    opacity: .5;
    width: 10vw;
}


a#homeButton:hover {
    text-decoration: none;
    color: white;
    background: #229c8f;
    opacity: 1;
}
#homeButton img {
    width: 100%;
}
#upArrow {
    color: #ffffff9e;
    background: none;
    position: fixed;
    z-index: 10000000000000000;
    right: 15px;
    top: 15px;
    font-size: 140%;
    font-weight: bold;
    background: #808080;
    /* padding: 10px; */
    border-radius: 50%;
    opacity: .5;
    width: 2em;
    height: 2em;
}
button#upArrow:active, button#upArrow:focus {
    border:  none;
    outline: none;
}

.page-wrapper{
      background: #404040;
}
div#story_name {
    font-size:  150%;
    font-weight:  bold;
    border-bottom:  1px solid;
}

div#story_div {
    text-align:  center;
    font-weight: 300;
    font-size:  120%;
    /* padding: 40px; */
    color: #a5fbff;
}

div#story_div ul {
    list-style: none;
    padding: 0;
    padding-top: 10px;
    columns: 3;
}
ul.claim_list li:hover {
    background: #ec018c7a;
}

ul.claim_list li {
    background: #ec018c29;
    margin: 10px 0;
    padding: 5px;
}
.claim_list a {
    color: #faffb2;
    text-decoration: underline;
}

span.prop {
    font-weight: 400;
    color: white;
}
div#conent_panel {
  /* width: 30%; */
    width: 100%;
    display: inline-block;
    background: #615763;
    padding: 20px;
    /* height: 80vh;
    overflow-y: scroll; */
}
/*  viewer */
#viewer {
    vertical-align: top;
    width: 100%;
    /* overflow: scroll; */
    height: 80vh;
    position: relative;
    margin: 0 auto;
    color: black;
    display: inline-block;
}




/*  pagepile */
/* Navigaton bullets styles
 * --------------------------------------- */
 #pp-nav li .active span, .pp-slidesNav .active span {
    background: #bbb;
}
#pp-nav span, .pp-slidesNav span {
    border-color: #bbb !important;
}
/* Sections
	 * --------------------------------------- */
 .section {
    /* background-attachment: fixed; */
    background-size: auto 80%;
    background-position: 50% 0%;
    background-repeat: no-repeat;
    transition: none;
}
.slide-intro, .slide-wikipedia {
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        background-position: center;
    background-repeat: no-repeat;
}
.slide-intro p {
    padding: 0 10% 10px 10%;
}
.slide-wikipedia .page{
      box-shadow: 0 0 6px #00000038;
}
.slide-index .content {
    top: 0;
    position: absolute;
    left: 0;
    width: 100%;
}
/* Arrow
	 * --------------------------------------- */
 #arrow {
    width: 100%;
    height: 50px;
    text-align: center;
    cursor: pointer;
    position: fixed;
    bottom: 0;
    left: 0;
    border: 0;
    outline: 0;
    z-index: 100;
    color: #BBB;
    background: transparent;
    -moz-transition: all 0.2s cubic-bezier(0.7, 0.01, 0.3, 1);
    -o-transition: all 0.2s cubic-bezier(0.7, 0.01, 0.3, 1);
    -webkit-transition: all 0.2s cubic-bezier(0.7, 0.01, 0.3, 1);
    transition: all 0.2s cubic-bezier(0.7, 0.01, 0.3, 1);
    font: 36px Heiti, 'Lucida Grande', Arial;
    font-weight: bold;
}
#arrow span {
    display: inline-block;
    position: relative;
    top: -18px;
    -moz-transition: all 0.7s cubic-bezier(0.7, 0.01, 0.3, 1);
    -o-transition: all 0.7s cubic-bezier(0.7, 0.01, 0.3, 1);
    -webkit-transition: all 0.7s cubic-bezier(0.7, 0.01, 0.3, 1);
    transition: all 0.7s cubic-bezier(0.7, 0.01, 0.3, 1);
}
#arrow:hover {
    background: #EC008C;
}
#arrow:hover span {
    top: 0;
    color: #FFF;
}
/* Intro texts
	 * --------------------------------------- */
 .intro {
    position: absolute;
    bottom: 100px;
    text-align: center;
    width: 100%;
    background: #00ffe7e0;
}
.intro h1 {
    font-size: 5em;
    font-weight: bold;
    color: #000;
}
.slide-timeline .intro {
    color: #000;
}
.pp-tooltip {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
/* Content page
	 * --------------------------------------- */
.header {
   /* padding-top: 80px; */
   text-align: center;
   padding: 0 10%;
}
.header h1 {
    font-size: 5em;
    font-weight: bold;
    color: #fff;
}
.header h1 img {
    height: 1em;
    border-right: 3px solid;
    padding-right: 15px;
}
.header h1 a {
    color: inherit;
}
.header p {
    color: #f2f2f2;
    font-size: 1.7em;
}
.page {
    width: 90%;
    margin: 60px auto;
    background:white;
    padding: 20px;
    -webkit-box-sizing: border-box;
    /* Safari<=5 Android<=3 */
    -moz-box-sizing: border-box;
    /* <=28 */
    box-sizing: border-box;
}
.page p {
    font-style: 12px;
    margin: 20px 0 0 0;
    line-height: 1.35em;
    color: #333;
}
.page.page-mirador {
    width: 100%;
    margin: 0;
    padding-top: 5px;
    padding-right: 5%;
    padding-left: 5%;
    padding-bottom: 100px;
    background: black;
    height: 100%;
}
.page.page-youtube {
    width: 100%;
    margin: 0;
    padding: 0;
    padding-bottom: 100px;
    background: black;
}
.slide-youtube .header {
padding: 2px ;
}
.page.page-timeline {
    width: 90%;
    margin: 60px auto;
    background: #f0fffc;
    padding: 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
}

/* timeline actions */
.jqTimespaceTableContainer.jqTimespaceAnimated {
    max-height: 100% !important;
    max-width: 90vw !important;
    width: 90vw !important;
}
.jqTimespaceEvent {
    padding-top: 5px !important;
}
.timeline-person img{
    width: 30%;
    position: relative;
    display: inline-block;
    padding: 20px;
}
.timeline-person .timeline-context{
    display: inline-block;
    font-size: 150%;
}
.pp-tooltip {
    background:  #38373791;
    padding: 5px;
    border-radius: 3px;
}
.page-index span.prop {
    color: inherit;
    font-weight: 700;
}

div#leftIndex {
    width: 70%;
    display: table-cell;
    background: #ecfcff;
    padding: 25px;
}

div#rightIndex {
    display: table-cell;
    width: 27%;
    vertical-align:  top;
    background: #b6d6d8;
    height:  100%;
    padding: 25px;
}

.index-header {
    text-align:  center;
    font-size:  2em;
    border-bottom:  2px solid;
    color: #fb8e2f;
    font-weight: 300;
}

.page.page-index {
    display:  table;
}

#rightIndex .index-header {
    color: white;
}

ul {
    list-style:  none;
    padding:  0;
}

div#leftIndex ul {
    padding: 25px;
    text-align:  center;
    font-size: 125%;
}

#leftIndex li {
    background: #ffb97c2e;
    margin: 10px;
    padding: 6px;
    color: #6f7373;
}

#leftIndex li a {
    color: #599aa0;
    font-weight: 400;
}
.content {
    height: 100%;
}
.mirador-container {
    height: 100%;
    position: relative;
}

.mirador-container .annotation-display.annotation-tooltip .button-container {
    display: none;
}


.wdAntn-section-header{
    background: #99a4af;
    width: 90%;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 5px;
    font-weight: bold;
    color: white;
    text-transform: capitalize;
}
.wdAntn-image {
    width: 80%;
    text-align: center;
    margin: 0 auto;
}
.wdAntn-image img {
    width: 100%;
    margin: 0 auto;

}
.wdAntn-header {
    font-weight: bold;
    text-align: center;
    width: 100%;
    background: #14b8bf;
    color:white;
    margin: 0;
    font-size: 125%;
    padding: 5px;
}

.wdAntn {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    background: #e8f3fd;
    padding-bottom: 20px;
}
.wdAntn-description{
    text-align: left;
    margin: 10px;
    padding: 0 5%;
    font-size: 75%;
}

.wdAntn-btn{
  width: 80%;
  margin: 10px auto;
  padding: 5px;
  border: 1px solid #dfa23a;
  color: #dfa23a;
}
.wdAntn-btn:hover{
  background: #dfa23a;
  color: white;
}
.wdAntn-btn a{
    text-decoration: none !important;
    border: none !important;

}
.wdAntn-statement{
    font-size: 80%;
    text-align: left;
    padding: 0 10%;
}
.wdAntn-prop{
    font-weight: bold;
}

.comments-list {
    margin-bottom: 25px;
}
.comment-image-container {
    width: 30px;
    height: 30px;
    display:  inline-block;
    vertical-align:  top;
    margin-top: 5px;
    border: 2px solid #ffffffb8;
    border-radius: 100%;
}

.comment-image-container img {
    width:  100%;
    height:  100%;
    object-fit:  cover;
    object-position:  top;
    /* border: 2px solid white; */
    border-radius: 100%;
    vertical-align:  middle;
}

.comment-content {
    display: inline-block;
    width: calc(100% - 55px);
    margin-left: 5px;
}

.comment-container {
    vertical-align:  top;
    margin-top: 15px;
    /* background: #ffffff29; */
}

a.comment-avatar {
    vertical-align: top;
    margin-top:  18px;
}

a.comment-name {
    color: #545454;
    font-weight:  600;
}

.comment-metadata {
    font-size: 1rem;
    /* font-weight:  300; */
    color: #777575;
    display:  inline;
    padding-left:  5px;
}

.comment-message {color: #545454;}

.comment-content .actions a {
    font-size:  1rem;
    /* color: #b9641a; */
}
.comment-container.depth2 {
    margin-left: 15px;
    border-left: 2px solid #99b3b5;
    padding-left: 5px;
}
textarea.reply-input {
    border:  none;
    padding:  10px;
    resize:  vertical;
    background: none;
    /* border-radius: 5px; */
    width:  calc(100% - 35px);
}

.reply-container {
    background: #f1f1f185;
    padding:  3px;
}

button.send-reply {
    margin-top:  5px;
    float: right;
    background: none;
    border: 1px solid;
    color: #545559;
    border-radius:  3px;
}

button.send-reply:hover {
    background: #545559;
    color:  white;
    border-color:  #545559;
}
.reply-container .comment-image-container {
    opacity: .7;
}
