body{
  display: inherit;
}
#homeButton {
    color: #ffffff9e;
    background: none;
    position: fixed;
    z-index: 10000000000000000;
    left: 15px;
    top: 15px;
    font-size: 140%;
    font-weight: bold;
    background: #808080;
    padding: 5px;
    border-radius: 5px;
    opacity: .5;
    width: 10vw;
}
a#homeButton:hover {
    text-decoration: none;
    color: white;
    background: #229c8f;
    opacity: 1;
}
#homeButton img {
    width: 100%;
}

.page-wrapper{
      background: #404040;
}
div#story_name {
    font-size:  150%;
    font-weight:  bold;
    border-bottom:  1px solid;
}

div#story_div {
    text-align:  center;
    font-weight: 300;
    font-size:  120%;
    /* padding: 40px; */
    color: #a5fbff;
}

div#story_div ul {
    list-style: none;
    padding: 0;
    padding-top: 10px;
    columns: 3;
}
ul.claim_list li:hover {
    background: #ec018c7a;
}

ul.claim_list li {
    background: #ec018c29;
    margin: 10px 0;
    padding: 5px;
}
.claim_list a {
    color: #faffb2;
    text-decoration: underline;
}

span.prop {
    font-weight: 400;
    color: white;
}
div#conent_panel {
  /* width: 30%; */
    width: 100%;
    display: inline-block;
    background: #615763;
    padding: 20px;
    /* height: 80vh;
    overflow-y: scroll; */
}
/*  viewer */
#viewer {
    vertical-align: top;
    width: 100%;
    /* overflow: scroll; */
    height: 80vh;
    position: relative;
    margin: 0 auto;
    color: black;
    display: inline-block;
}




/*  pagepile */
/* Navigaton bullets styles
 * --------------------------------------- */
 #pp-nav li .active span, .pp-slidesNav .active span {
    background: #bbb;
}
#pp-nav span, .pp-slidesNav span {
    border-color: #bbb !important;
}
/* Sections
	 * --------------------------------------- */
 .section {
    /* background-attachment: fixed; */
    background-size: auto 80%;
    background-position: 50% 0%;
    background-repeat: no-repeat;
}
#section1 {
    background-image: url(../images/stock/kjb-1.jpg);
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        background-position: center;
    background-repeat: no-repeat;
}

 #section4 {
  background-image: url(../images/stock/kjb-3.jpg);
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      background-position: center;
  background-repeat: no-repeat;
}
#section4 .page{
      box-shadow: 0 0 6px #00000038;
}
.last-section .content {
    top: 100%;
    position: absolute;
    left: 0;
    width: 100%;
}
/* Arrow
	 * --------------------------------------- */
 #arrow {
    width: 100%;
    height: 50px;
    text-align: center;
    cursor: pointer;
    position: fixed;
    bottom: 0;
    left: 0;
    border: 0;
    outline: 0;
    z-index: 100;
    color: #BBB;
    background: transparent;
    -moz-transition: all 0.2s cubic-bezier(0.7, 0.01, 0.3, 1);
    -o-transition: all 0.2s cubic-bezier(0.7, 0.01, 0.3, 1);
    -webkit-transition: all 0.2s cubic-bezier(0.7, 0.01, 0.3, 1);
    transition: all 0.2s cubic-bezier(0.7, 0.01, 0.3, 1);
    font: 36px Heiti, 'Lucida Grande', Arial;
    font-weight: bold;
}
#arrow span {
    display: inline-block;
    position: relative;
    top: -18px;
    -moz-transition: all 0.7s cubic-bezier(0.7, 0.01, 0.3, 1);
    -o-transition: all 0.7s cubic-bezier(0.7, 0.01, 0.3, 1);
    -webkit-transition: all 0.7s cubic-bezier(0.7, 0.01, 0.3, 1);
    transition: all 0.7s cubic-bezier(0.7, 0.01, 0.3, 1);
}
#arrow:hover {
    background: #EC008C;
}
#arrow:hover span {
    top: 0;
    color: #FFF;
}
/* Intro texts
	 * --------------------------------------- */
 .intro {
    position: absolute;
    bottom: 100px;
    text-align: center;
    width: 100%;
    background: #00ffe7e0;
}
.intro h1 {
    font-size: 5em;
    font-weight: bold;
    color: #000;
}
#section5 .intro {
    color: #000;
}
/* Content page
	 * --------------------------------------- */
 .header {
    padding-top: 80px;
    text-align: center;
}
.header h1 {
    font-size: 5em;
    font-weight: bold;
    color: #fff;
}
.header h1 img {
    height: 1em;
    border-right: 3px solid;
    padding-right: 15px;
}
.header h1 a {
    color: inherit;
}
.header p {
    color: #f2f2f2;
    font-size: 1.7em;
}
.page {
    width: 90%;
    margin: 60px auto;
    background:white;
    padding: 20px;
    -webkit-box-sizing: border-box;
    /* Safari<=5 Android<=3 */
    -moz-box-sizing: border-box;
    /* <=28 */
    box-sizing: border-box;
}
.page p {
    font-style: 12px;
    margin: 20px 0 0 0;
    line-height: 1.35em;
    color: #333;
}
.page.page-mirador {
    width: 100%;
    margin: 0;
    padding-top: 5px;
    padding-right: 5%;
    padding-left: 5%;
    padding-bottom: 100px;
    background: black;
}
.page.page-youtube {
    width: 100%;
    margin: 0;
    padding: 0;
    padding-bottom: 100px;
    background: black;
}
.slide-youtube .header {
padding: 2px ;
}
.page.page-timeline {
    width: 90%;
    margin: 60px auto;
    background: #f0fffc;
    padding: 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
}

/* timeline actions */
.jqTimespaceTableContainer.jqTimespaceAnimated {
    max-height: 100% !important;
    max-width: 90vw !important;
    width: 90vw !important;
}
.jqTimespaceEvent {
    padding-top: 5px !important;
}
.timeline-person img{
    width: 30%;
    position: relative;
    display: inline-block;
    padding: 20px;
}
.timeline-person .timeline-context{
    display: inline-block;
    font-size: 150%;
}
.pp-tooltip {
    background:  #38373791;
    padding: 5px;
    border-radius: 3px;
}
.page-index span.prop {
    color: inherit;
    font-weight: 700;
}

div#leftIndex {
    width: 70%;
    display: table-cell;
    background: #ecfcff;
    padding: 25px;
}

div#rightIndex {
    display: table-cell;
    width: 27%;
    vertical-align:  top;
    background: #b6d6d8;
    height:  100%;
    padding: 25px;
}

.index-header {
    text-align:  center;
    font-size:  2em;
    border-bottom:  2px solid;
    color: #fb8e2f;
    font-weight: 300;
}

.page.page-index {
    display:  table;
}

#rightIndex .index-header {
    color: white;
}

ul {
    list-style:  none;
    padding:  0;
}

div#leftIndex ul {
    padding: 25px;
    text-align:  center;
    font-size: 125%;
}

#leftIndex li {
    background: #ffb97c2e;
    margin: 10px;
    padding: 6px;
    color: #6f7373;
}

#leftIndex li a {
    color: #599aa0;
    font-weight: 400;
}
