<div class="section pp-scrollable slide-timeline slide-award" id="section{{id}}">
  <div class="content">
    <div class="header" style="color:{{contrastColor color true}};background-color: {{color}}">
      <h1>Awards of {{name}}</h1>
      <p> {{award.length}} Awards & Honors Recieved By {{name}} Are Currently Recorded in Wikidata</p>
    </div>

    <div class="page page-award">
      <div id="award">

        <div class="circle-carousel" data-gap="80">
          <figure>
            {{#each award}}
              <div class="circle-frame">
                <div class="with-arrows">
                  <div class="award-content" >
                    <div class="award-graphic" style="border-color:{{this.color_dark}}">
                      <span class="award-icon" >
                        {{#if_equal this.type 'medal'}}<i class="fas fa-medal"></i>
                        {{else if_equal this.type 'trophy'}}<i class="fas fa-trophy"></i>
                        {{else if_equal this.type 'ribbon'}}<i class="fas fa-ribbon"></i>
                        {{else if_equal this.type 'certificate'}}<i class="fas fa-certificate"></i>
                        {{else if_equal this.type 'hall'}}<i class="fas fa-archway"></i>
                        {{else if_equal this.type 'edu'}}<i class="fas fa-graduation-cap"></i>
                        {{else}} <i class="fas fa-award"></i>
                        {{/if_equal}}
                      </span>
                    </div>
                    <div class="award-pretitle" style="color:{{this.color_dark}}">{{#if this.date}}{{this.date}}{{/if}} {{this.action}}</div>
                    <div class="award-title" style="color:{{this.color_light}}">{{this.title}}</div>
                     <div class="award-subtitle">This {{#if this.instance}}{{this.instance}}{{else}}award{{/if}} is presented to</div>
                     <div class="award-name" style="color:{{this.color_dark}}">{{../name}}</div>
                     <div class="award-description">{{#if this.description}}{{this.description}}{{/if}}</div>
                     {{#if this.conferred}}
                     <div class="award-organizer" style="border-color:{{this.color_dark}}">{{#truncate 60}}{{arrayToString this.conferred 'comma'}}{{/truncate}}</div>
                     <div class="award-organizer-subtext">Conferred By</div>
                     {{else}}
                     {{/if}}
                  </div>
                  <div class="arrow-right" style="background:{{this.color_light}}"></div>
                  <div class="arrow-left"  style="background:{{this.color_dark}}"></div>
                  <div class="arrow-left-bottom"  style="background:{{this.color_light}}"></div>
                  <div class="arrow-right-bottom" style="background:{{this.color_dark}}"></div>
                </div>
              </div>
            {{/each}}
            {{#if_equal award.length 2}}
              <!-- Add a blank node when only two awards -->
              <div class="circle-frame"></div>
            {{/if_equal}}
          </figure>
          {{#if_equal award.length 1}}
          {{else}}
          <nav>
            <button class="nav prev">Prev</button>
            <button class="nav next">Next</button>
          </nav>
          {{/if_equal}}
        </div>
      </div>
    </div>
    <a href="https://www.freepik.com/free-photos-vectors/background">Background vector created by Macrovector - Freepik.com</a>
  </div>
  <script>
    {{#if_equal award.length 1}}
    {{else}}
      window.addEventListener('load', function () {
        var carousels = document.querySelectorAll('.circle-carousel');
        for (var i = 0; i < carousels.length; i++) {
          carousel(carousels[i]);
        }
      });
    {{/if_equal}}
    function carousel(root) {
      var figure = root.querySelector('figure'),
      nav = root.querySelector('nav'),
      images = figure.children,
      n = images.length,
      gap = root.dataset.gap || 0,
      bfc = 'bfc' in root.dataset,
      theta = 2 * Math.PI / n,
      currImage = 0;
      setupCarousel(n, parseFloat(getComputedStyle(images[0]).width));
      window.addEventListener('resize', function () {
        setupCarousel(n, parseFloat(getComputedStyle(images[0]).width));
      });
      setupNavigation();
      function setupCarousel(n, s) {
        var apothem = s / (2 * Math.tan(Math.PI / n));
        figure.style.transformOrigin = '50% 50% ' + -apothem + 'px';
        for (var i = 0; i < n; i++) {
          images[i].style.padding = gap + 'px';
        }
        for (i = 1; i < n; i++) {
          images[i].style.transformOrigin = '50% 50% ' + -apothem + 'px';
          images[i].style.transform = 'rotateY(' + i * theta + 'rad)';
        }
        if (bfc){
          for (i = 0; i < n; i++) {
            images[i].style.backfaceVisibility = 'hidden';
          }
        }
        rotateCarousel(currImage);
      }

      function setupNavigation() {
        nav.addEventListener('click', onClick, true);
        function onClick(e) {
          e.stopPropagation();
          var t = e.target;
          if (t.tagName.toUpperCase() != 'BUTTON')
          return;
          if (t.classList.contains('next')) {
            currImage++;
          }
          else{
            currImage--;
          }
          rotateCarousel(currImage);
        }
      }
      function rotateCarousel(imageIndex) {
        figure.style.transform = 'rotateY(' + imageIndex * -theta + 'rad)';
      }
    }
  </script>
</div>
