<div class="section pp-scrollable slide-timeline slide-award" id="section{{id}}">
  <div class="content">
    <div class="header" style="color:{{color.text}};background-color: {{color.background}}">
      <h1>{{title}}</h1>
      <p> {{subtitle}}</p>
    </div>

    <div class="page page-award">
      <div id="award">
        <div class="circle-carousel" data-gap="80">
          <figure>
            {{#each data}}
              <div class="circle-frame">
                <div class="with-arrows">
                  <div class="award-content" >
                    <div class="award-graphic"
                         style="border-color:{{this.color.dark}}">
                      <span class="award-icon" >
                        <i class="{{this.icon.name}}"></i>
                      </span>
                    </div>
                    <div class="award-pretitle"
                         style="color:{{this.color.dark}}">
                      {{this.year}}
                    </div>
                    <div class="award-title" style="color:{{this.color.light}}">
                      {{this.label}}
                    </div>
                    <div class="award-subtitle">{{this.subtitle}}</div>
                    <div class="award-name" style="color:{{this.color.dark}}">
                      {{../label}}
                    </div>
                    <div class="award-description">
                      {{#if this.description}}{{this.description}}{{/if}}
                    </div>
                    {{#if this.conferred_by}}
                      <div class="award-organizer"
                           style="border-color:{{this.color.dark}}">
                        {{this.conferred_by.title}}
                      </div>
                      <div class="award-organizer-subtext">Conferred By</div>
                    {{else}}
                    {{/if}}
                  </div>
                  <div class="arrow-right" style="background:{{this.color.light}}"></div>
                  <div class="arrow-left"  style="background:{{this.color.dark}}"></div>
                  <div class="arrow-left-bottom"  style="background:{{this.color.light}}"></div>
                  <div class="arrow-right-bottom" style="background:{{this.color.dark}}"></div>
                </div>
              </div>
            {{/each}}
            {{#if_equal data.length 2}}
              <!-- Add a blank node when only two awards -->
              <div class="circle-frame"></div>
            {{/if_equal}}
          </figure>
          {{#if_equal data.length 1}}
          {{else}}
          <nav>
            <button class="nav prev">Prev</button>
            <button class="nav next">Next</button>
          </nav>
          {{/if_equal}}
        </div>
      </div>
    </div>
    <a href="https://www.freepik.com/free-photos-vectors/background">Background vector created by Macrovector - Freepik.com</a>
  </div>
  <script>
    {{#if_equal award.length 1}}
    {{else}}
      window.addEventListener('load', function () {
        var carousels = document.querySelectorAll('.circle-carousel');
        for (var i = 0; i < carousels.length; i++) {
          carousel(carousels[i]);
        }
      });
    {{/if_equal}}
    function carousel(root) {
      var figure = root.querySelector('figure'),
      nav = root.querySelector('nav'),
      images = figure.children,
      n = images.length,
      gap = root.dataset.gap || 0,
      bfc = 'bfc' in root.dataset,
      theta = 2 * Math.PI / n,
      currImage = 0;
      setupCarousel(n, parseFloat(getComputedStyle(images[0]).width));
      window.addEventListener('resize', function () {
        setupCarousel(n, parseFloat(getComputedStyle(images[0]).width));
      });
      setupNavigation();
      function setupCarousel(n, s) {
        var apothem = s / (2 * Math.tan(Math.PI / n));
        figure.style.transformOrigin = '50% 50% ' + -apothem + 'px';
        for (var i = 0; i < n; i++) {
          images[i].style.padding = gap + 'px';
        }
        for (i = 1; i < n; i++) {
          images[i].style.transformOrigin = '50% 50% ' + -apothem + 'px';
          images[i].style.transform = 'rotateY(' + i * theta + 'rad)';
        }
        if (bfc){
          for (i = 0; i < n; i++) {
            images[i].style.backfaceVisibility = 'hidden';
          }
        }
        rotateCarousel(currImage);
      }

      function setupNavigation() {
        nav.addEventListener('click', onClick, true);
        function onClick(e) {
          e.stopPropagation();
          var t = e.target;
          if (t.tagName.toUpperCase() != 'BUTTON')
          return;
          if (t.classList.contains('next')) {
            currImage++;
          }
          else{
            currImage--;
          }
          rotateCarousel(currImage);
        }
      }
      function rotateCarousel(imageIndex) {
        figure.style.transform = 'rotateY(' + imageIndex * -theta + 'rad)';
      }
    }
  </script>
</div>
