<div class="section pp-scrollable section-google_book" id="section{{id}}">
    <div class="content">
      <div class="header" style="background:  {{color}}; color:{{contrastColor color true}};">
         <h1>{{title}}</h1>
        <p>
          {{description}}<br>
          Content Provided By
          <a target="_blank" href="https://books.google.com/books?id={{book_id}}" style="color: inherit;text-decoration: underline;">Google Books</a>
        </p>
      </div>
      <div class="page page-youtube page-universalviewer">
        <iframe frameborder="0" allowfullscreen scrolling="no" style="border:0px;height:100vh;width:100%" src="https://books.google.com/books?id={{book_id}}&pg=PP{{#if page_number}}{{page_number}}{{else}}1{{/if}}&output=embed" width="100%" height="100vh"></iframe>
    </div>
    </div>
</div>
