<div class="section pp-scrollable last-section slide-index" id="sectionIndex">
  <div class="content">
    <div class="header"  style="color:{{contrastColor color true}};">
      <h1>Learn More About {{name}} </h1>
      <p>Browse through resource links, contribution/attributions, and forum
        comments to find other places on the web that describe {{name}}</p>
    </div>
    <div class="page page-index">
      <div id="leftIndex">
        <div class="index-header">Helpful External Resources</div>
        <ul>
          {{#each content}}
          {{#if this.url }}
            <li><span class="prop">{{this.wdLabel.value}}:</span>
              <a href="{{#if_equal this.ps_.type "uri"}}{{this.ps_.value}}{{else}}{{this.url.value}}{{/if_equal}}" target="_blank">{{this.ps_Label.value}}</a>

                <div class="prop-desc">{{this.wdDescription.value}}</div>
                <div class="prev-box">
                  <div class="prev-header">
                    Preview of <a href="{{#if_equal this.ps_.type "uri"}}{{this.ps_.value}}{{else}}{{this.url.value}}{{/if_equal}}" target="_blank">Webpage</a>
                  </div>
                  <iframe style="display: none;" class="index-preview"
                    data-src="{{#if_equal this.ps_.type "uri"}}{{this.ps_.value}}{{else}}{{this.url.value}}{{/if_equal}}"
                    width = "100%" height = "500px"></iframe>
              </div>
            </li>
            {{else}}
            {{/if}}
          {{/each}}

        </ul>
      </div>
      <div id="rightIndex">
        <div class="index-header">Curators</div>
        <div class="curator-list">
          {{#each row.contributors}}
          <a class="comment-avatar" href="/member:{{this.member.username}}">
            <div class="curator-item">
                <div class="comment-image-container">
                  <img src="{{#if this.member.image}}{{this.member.image}}{{else}}https://upload.wikimedia.org/wikipedia/commons/a/ad/Placeholder_no_text.svg{{/if}}">
                </div>
                <div class="curator-name">
                  {{this.member.name}}
                </div>
            </div>
          </a>
          {{/each}}
        </div>
        <a href="/donate" style="color: orange;text-shadow: 0 0 7px black;"><i class="fas fa-seedling"></i> Help Us Tell More Stories</a>
        <div class="index-header">Discussion</div>
        <div class="comments-list">
        </div>
      {{#ifUserType user.type 'user'}}
        <div class="reply-container">
          <a class="comment-avatar">
            <div class="comment-image-container">
              <img src="{{#if user.image}}{{user.image}}{{else}}https://upload.wikimedia.org/wikipedia/commons/a/ad/Placeholder_no_text.svg{{/if}}">
            </div>
          </a>
          <textarea onkeyup="textAreaAdjust(this)" style="overflow:hidden" class="reply-input parent0" name="" placeholder="Leave a comment..." id="" rows="1"></textarea>
          <button class="send-reply" data-parent=0 onclick="sendComment(this, {{row.id}}, true)">Send</button>
        </div>
      {{else}}
        <div class="reply-container">
          <a class="comment-avatar">
            <div class="comment-image-container">
              <img src="https://upload.wikimedia.org/wikipedia/commons/a/ad/Placeholder_no_text.svg">
            </div>
          </a>
          <textarea onkeyup="textAreaAdjust(this)" style="overflow:hidden" class="reply-input" name="" placeholder="Log-in to leave a comment..." id="" cols="30" rows="1" disabled></textarea>
          <button class="send-reply" disabled>Send</button>
        </div>
      {{/ifUserType}}
      </div>
    </div>
  </div>
  <!-- end of slide -->
</div>
