<div class="section pp-scrollable slide-timeline slide-library" id="section{{id}}">
  <div class="content">
    <div class="header" style="color:{{color.text}};background-color: {{color.background}}">
      <h1>{{title}}</h1>
      <p>{{subtitle}}</p>
    </div>

    <div class="page page-timeline page-library">
      <div id="library">
        {{#each data}}
        <div class="library-section" id="library{{@key}}">
          <div class="library-section-header">{{this.title}}</div>
          {{#grouped_each 10 this.items}}
          <div class="library-collection-div">

            {{#each this}}
              <div class="library-item-div">
                <a href="{{this.url}}" target="_blank">
                <div class="book">
                  <div class="library-cover" >
                    <div class="vert-middle-container" style="background: {{randomColor '.5' 'dark'}}">
                      <div class="library-cover-content">
                        <div class="library-cover-title">{{this.title}}</div>
                        <div class="library-cover-authors">
                          {{this.instance}}
                        </div>
                        <div class="library-cover-instance">
                          Contribution: {{this.contribution}}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                </a>
              </div>
            {{/each}}
          </div>

          <div class="library-shelf-div">
            <img src="{{../graphic.url}}" alt="">
          </div>
          {{/grouped_each}}
        </div>
        {{/each}}
      </div>
          <style>
          /* CUSTOM HERE */
          .library-cover, .library-cover-content {
    background: #fefdf9;
}
          .library-shelf-div img, .library-shelf-div .library-cover {
    width:  100%;
}

.library-shelf-div {
    width:  100%;
    margin-top: -.5vw;
}

.library-section {
    max-width: 1300px;
    width:  100%;
    margin: 100px auto;
}

.library-collection-div {
    padding: 0 9vw;
}
          /* END CUSTOM */
          .book, .book img, .book .library-cover, .book::after,
.page-library .book::before {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}



.page-library ul {
  display: table-cell;
  vertical-align: middle;
}

.page-library .list-inline {
  padding-left: 0;
  list-style: none;
}
.page-library .list-inline > li {
  display: inline-block;
  margin-left: 2em;
  padding: 0;
}
.page-library .list-inline > li:first-child {
  margin-left: 0;
}

div#pagepiling .page-library .book {
  cursor: pointer;
  display: block;
  width: 150px;
  height: 220px;
  position: relative;
  background: white;
  z-index: 1;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 9px 20px 0 rgba(0, 0, 0, 0.25);
  overflow: hidden;
  transition: box-shadow .3s linear;
}

div#pagepiling .page-library .book img, div#pagepiling .page-library .library-cover {
  width: inherit;
  height: inherit;
  -webkit-transform-origin: 0 50%;
          transform-origin: 0 50%;
  -webkit-transform: rotateY(0);
          transform: rotateY(0);
  transition: all .45s ease;
}

div#pagepiling .page-library .book:hover {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25), 0 9px 20px 0 rgba(0, 0, 0, 0.45);
}
div#pagepiling .page-library .book:hover img, div#pagepiling .page-library .book:hover .library-cover {
  -webkit-transform: rotateY(-25deg);
          transform: rotateY(-25deg);
  box-shadow: 1px 1px 5px 5px rgba(0, 0, 0, 0.2);
}

div#pagepiling .page-library .book::after,
div#pagepiling .page-library .book::before {
  content: '';
  display: block;
  width: inherit;
  height: inherit;
  position: absolute;
  z-index: -1;
  top: 0;
  background: white;
  border: 1px solid #d9d9d9;
}

.page-library .book::before {
  left: -3px;
}

.page-library .book::after {
  left: -6px;
}
.library-cover-title {
    text-align:  center;
    font-size:  20px;
    font-weight:  bold;
    margin: 5px;
    border-bottom:  1px solid;
    text-transform: capitalize;
}
.library-item-div > a {
    color: inherit;
    text-decoration: inherit;
}
.library-cover-authors {
    font-weight: 300;
    padding: 5px;
    text-align:  center;
    text-transform:  capitalize;
}
.library-cover-instance {
    font-weight: 400;
    padding: 5px;
    text-align: center;
    text-transform: capitalize;
    font-size: 75%;
}

.library-cover {
    display: table;
}
.vert-middle-container{
  display: table-cell;
  vertical-align: middle;
}
.library-collection-div button.slick-arrow.slick-prev {
    position: absolute;
    left: 0;
    background: none;
    color: #1dcead;
    border:  none;
    font-weight:  bold;
    top: 50%;
}

.library-collection-div button.slick-arrow.slick-next {
    position: absolute;
    right: 0;
    background: none;
    color: #1dcead;
    border: none;
    font-weight: bold;
    top: 50%;
}
.library-section-header {
    font-size:  250%;
    text-align:  center;
    text-transform: uppercase;
    font-weight: 300;
    opacity:  .2;
    margin-bottom:  20px;
}
.library-cover * {
    word-wrap: break-word;
    word-break: break-word;
    hyphens: auto;
}

          </style>
    </div>
  </div>
  <script>
  $('.library-collection-div').slick({
    arrows: true,
    slidesToShow: 6,
    slidesToScroll: 1,
    autoplay: true,
    autoplaySpeed: 2500,
    infinite: true,
    responsive: [
      {
        breakpoint: 1400,
        settings: {
          arrows: true,
          slidesToShow: 4
        }
      },
      {
        breakpoint: 950,
        settings: {
          arrows: true,
          slidesToShow: 3
        }
      }
    ],
  });

  </script>
</div>
