<div class="section pp-scrollable slide-map" id="section{{id}}">
  <div class="content">
    <div class="header">
      <h1>{{title}}</h1>
      <p> {{subtitle}}</p>
    </div>
    <div class="page page-map">
      <div class="map-legend">
        {{#each data}}
          <div class="map-legend-item" onclick='selectMapLocation([{{this.coordinates.point}}], {{@index}})'>
            {{this.label}}
          </div>
        {{/each}}
      </div>
      <div id="mapid"></div>
    </div>
  </div>
  <script>
    var map = new L.Map('mapid', {
    center: [0, 0],
    zoom: 2,
    minZoom: 2,
    layers: [
        new L.TileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            'attribution': 'Map Integration By © <a href="https://www.seals-nutt.com" target="_blank">Seals-Nutt</a> | Tile Data © <a href="http://openstreetmap.org">OpenStreetMap</a> contributors'
        })
    ],
  });

  var mapgroup = new L.featureGroup([
    {{#each data}}
    L.marker( [{{this.coordinates.point}}] ,{ title: `{{this.label}} ({{this.coordinates.point}})`})
       .bindPopup( `
         <div class="map-popup">
           <div class="map-popup-item">
             <div class="map-popup-title">{{this.label}}</div>
             {{#if this.image}}
               <div class="map-popup-image">
                 <img src="{{this.image}}" />
               </div>
             {{/if}}
            </div>
           {{#each this.details}}
            <div class="map-popup-item">
              <div class="map-popup-title">{{this.title}}</div>
              <div class="map-popup-location">{{../label}}</div>
              {{#if this.image}}
                <div class="map-popup-image">
                  <img src="{{this.image}}" />
                </div>
              {{/if}}
            </div>
            {{/each}}
        </div>
         `),
    {{/each}}
    ]).addTo(map);;
    map.fitBounds(mapgroup.getBounds());
    function selectMapLocation(latlong, title){
      map.flyTo(latlong, 12)
      $(`img.leaflet-marker-icon:eq(${title})`).click()
    }
  </script>
</div>
