<div class="section pp-scrollable slide-map" id="section{{id}}">
  <div class="content">
    <div class="header">
      <h1>Map of {{name}} and Influence</h1>
      <p> {{size map}} Locations are currently recorded in Wikidata about {{name}}</p>
    </div>
    <div class="page page-map">
      <div class="map-legend">
        {{#each map}}
          <div class="map-legend-item" onclick="selectMapLocation([{{this.0.coordinates}}], '{{this.0.location}} ({{this.0.coordinates}})')">
            {{this.0.location}}
          </div>
        {{/each}}
      </div>
       <div id="mapid"></div>

    </div>
  </div>
  <script>


    var map = new L.Map('mapid', {
    center: [0, 0],
    zoom: 2,
    minZoom: 2,
    layers: [
        new L.TileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            'attribution': 'Map Integration By © <a href="https://www.seals-nutt.com" target="_blank">Seals-Nutt</a> | Tile Data © <a href="http://openstreetmap.org">OpenStreetMap</a> contributors'
        })
    ],
  });


var mapgroup = new L.featureGroup([
    {{#each map}}
    L.marker( [{{this.0.coordinates}}] ,{ title: `{{this.0.location}} ({{this.0.coordinates}})`})
       .bindPopup( `
         <div class="map-popup">
          {{#each this}}
            <div class="map-popup-item">
              <div class="map-popup-title">
                {{this.title}}
              </div>
              <div class="map-popup-location">
                {{this.location}}
              </div>
              {{#if this.image}}
              <div class="map-popup-image">
                <img src="{{this.image}}" />
              </div>
              {{/if}}
              {{#if this.locationImage}}
              <div class="map-popup-image">
                <img src="{{this.locationImage}}" />
              </div>
              {{/if}}
            </div>
          {{/each}}
        </div>
         `),
    {{/each}}
    ]).addTo(map);;
    map.fitBounds(mapgroup.getBounds());
    function selectMapLocation(latlong, title){
      map.flyTo(latlong, 12)
      $(`img[title="${title}"]`).click()
    }
  </script>
</div>
