<div class="section pp-scrollable slide-timeline slide-membership" id="section{{id}}">
  <div class="content">
    <div class="header">
      <h1>Memberships of {{name}}</h1>
      <p> {{size membership}} Organizations that {{name}} is a Member of Are
        Currently Recorded in Wikidata</p>
    </div>

    <div class="page page-timeline page-library page-membership">
      <div class="container">
        <div class="row">
          <div class="col" id="membershipDetails">
            <div id="membershipInfo"></div>
          </div>
          <div class="col col-lg-3 membership-badge-scroller">
            {{#each membership}}
              <div class="membership-badge">
                {{> (no_op this.partial) bg_color=this.color_light
                    fg_color=this.color_dark text=(trunc_string this.acronym 4)
                    name=(trunc_string ../name 20)}}
                <div class="membership-panel">
                  {{#if this.logo}}
                    <img src="{{this.logo}}" alt=""><br>
                  {{/if}}
                  <h1>{{this.title}}</h1>
                  <h3>{{this.description}}</h3>
                  {{#each this.quals}}
                    <p>{{this.prop}}: {{this.value}}</p>
                  {{/each}}
                  {{#if this.image}}
                    <br><br>
                    <img class="membership-image" src="{{this.image}}" alt="">
                  {{/if}}
                  {{#if this.website}}
                    <br><br>
                    <p><a href="{{this.website}}">Visit Website</a></p>
                  {{/if}}
                </div>
              </div>
            {{/each}}
          </div>
        </div>
      </div>
    </div>
  </div>
  <script>
    let $membershipDetails = $('#membershipDetails');
    let $membershipInfo = $('#membershipInfo');
    $('.membership-badge').click(function(){
      let $this = $(this);
      $('.membership-badge').removeClass('active');
      $membershipDetails.fadeOut('slow');
      $this.addClass('active');
      $membershipInfo.fadeOut();
      $membershipInfo.html($this.html()).fadeIn();
      $membershipDetails.fadeIn(900);
    })
    $('.membership-badge:first').click();
  </script>
</div>
