<div class="section pp-scrollable slide-mirador" id="section{{id}}">
  <div class="content" style="color:{{contrastColor color true}};">
    <div class="header">
      <h1>{{title}}</h1>
      <p>{{description}}</p>
    </div>
    <div class="page page-mirador">
      <div id="mirador{{id}}"></div>
    </div>
  </div>

  <script type="text/javascript">
    function loadAnnotationsFromManifest(uri){
      // console.log('loadAnnotationsFromManifest->', uri);
      $.post("/api/iiif/loadFromManifest", {uri:uri}).done(function(data){
        for (item in data){
          console.log('Setting->', item);
          localStorage.setItem(item, data[item]);
        }
      })
    }
    instanceData{{id}} = {{{json config.data}}};
    var windowObjs{{id}} = [];
    for (x=0; x < instanceData{{id}}.length; x++ ){
      loadAnnotationsFromManifest(instanceData{{id}}[x].manifestUri);
      windowObjs{{id}}[x] = {
        "loadedManifest": instanceData{{id}}[x].manifestUri,
        "viewType": instanceData{{id}}[x].viewType,
        "sidePanel": false,
        "sidePanelVisible": false,
        "bottomPanelVisible": false,
        "canvasControls": {
          "annotations" : {
            "annotationLayer" : true,
            "annotationCreation" : false,
            "annotationState" : "on",
            "annotationRefresh" : false
          }
        }
      }
    }
    $( document ).ready(function() {
      var myMiradorInstance{{id}} = Mirador({
        "id": "mirador{{id}}",
        "layout": "{{config.layout}}",
        "data": instanceData{{id}},
        "windowObjects": windowObjs{{id}},
        "annotationEndpoint": { "name":"Local Storage", "module": "LocalStorageEndpoint" },
        // {
        //   "name": "Simple Annotation Store Endpoint",
        //   "module": "SimpleASEndpoint",
        //   "options": {
        //     "url": "http://sciencestories-annotate.herokuapp.com/annotation",
        //     "storeId":"comparison",
        //     "APIKey":"user_auth"
        //   }
        // },
        "saveSession": false,
        "annotationState": "annoOnCreateOff",
        "sidePanelOptions" : {
          "tocTabAvailable": false,
          "layersTabAvailable": false,
          "searchTabAvailable": false,
          "annotations" : false
        }
      });
    });

  // SAMPLE CONFIG
  //  {
  //    "id": "mirador{{id}}",
  //    "layout": "1x1",
  //    "data": [
  //      // { "manifestUri": "http://127.0.0.1:8000/collection/test.json", "location": "Yale"},
  //
  //      { "manifestUri": "{{app_url 'api/iiif/hoffleit'}}", "location": "Yale"},
  //      { "manifestUri": "{{app_url 'api/iiif/manifest/FirstGlossaryProgrammingTerminology.json'}}", "location": "Yale"},
  //      { "manifestUri": "/api/iiif/hopper", "location": "Yale"},
  //      { "manifestUri": "/api/iiif/hopper2", "location": "Yale"},
  //      { "manifestUri": "https://iiif.lib.harvard.edu/manifests/drs:9596592", "location": "Harvard University"},
  //
  //    ],
  //    "windowObjects": [
  //      {loadedManifest: "/api/iiif/hoffleit",
  //      sidePanel: false,
  //      sidePanelVisible: false,
  //      "canvasControls": { // The types of controls available to be displayed on a canvas
  //        "annotations" : {
  //          "annotationLayer" : true, //whether or not to make annotation layer available in this window
  //          "annotationCreation" : false, /*whether or not to make annotation creation available in this window,
  //                       only valid if annotationLayer is set to True and an annotationEndpoint is defined.
  //                       This setting does NOT affect whether or not a user can edit an individual annotation that has already been created.*/
  //          "annotationState" : 'on', //[_'off'_, 'on'] whether or not to turn on the annotation layer on window load
  //          "annotationRefresh" : false, //whether or not to display the refresh icon for annotations
  //        },
  //      },
  //    }
  //    ],
  //
  //    // "annotationEndpoint": { "name":"Local Storage", "module": "LocalStorageEndpoint" },
  //     "annotationEndpoint": {
  // name: 'Simple Annotation Store Endpoint',
  // module: 'SimpleASEndpoint',
  // options: {
  //   url: 'http://sciencestories-annotate.herokuapp.com/annotation',
  //   storeId:'comparison',
  //   APIKey:'user_auth'
  // }
  // },
  // "annotationState": 'annoOnCreateOff',
  //    "sidePanelOptions" : {
  //      "tocTabAvailable": false,
  //      "layersTabAvailable": false,
  //      "searchTabAvailable": false,
  //      "annotations" : false
  //    },
  // }
  </script>
</div>
