<div class="section pp-scrollable slide-people" id="section{{id}}">
  <div class="content">
    <div class="header">
      <h1>People Relevant to {{name}}</h1>
      <p> {{size people}} People are currently recorded in Wikidata connected to {{name}}</p>
    </div>
    <div class="page page-people">
      <div class="people-list">
        {{#each people}}
          <div class="people-item">
            <div class="deal">
              <span>{{this.title}}</span>
              {{#if this.image}}<span class="person-image"><img src="{{this.image}}" alt="image of {{this.title}}"></span>{{/if}}
            </div>
            {{#if this.years}}
              <button>{{this.years}}</button>
            {{/if}}
            <span class="price">
              {{#each this.relation}}
                {{this}} <br />
              {{/each}}
            </span>
            <ul class="features">
              {{#if this.description}} <li class="people-item-description">{{this.description}}</li> {{/if}}
              {{#each this.qualifier}}
              <li>{{this}}</li>
              {{/each}}
            </ul>

          </div>
        {{/each}}
      </div>

      </div>
    </div>
  <script>

  </script>

</div>
