<div class="section pp-scrollable slide-people" id="section{{id}}">
  <div class="content">
    <div class="header">
      <h1>{{title}}</h1>
      <p> {{subtitle}}</p>
    </div>
    <div class="page page-people">
      <div class="people-list">
        {{#each data}}
          <div class="people-item">
            <div class="deal">
              <span>{{this.label}}</span>
              {{#if this.image}}
                <span class="person-image"><img src="{{this.image}}" alt="image of {{this.label}}"></span>
              {{/if}}
            </div>
            {{#if this.years}}
              <button>{{this.years}}</button>
            {{/if}}
            <span class="price">
              {{#each this.relations}}
                <div class="person-relation">
                  {{this}}
                </div>
              {{/each}}
            </span>
            <ul class="features">
              {{#if this.description}}
                <li class="people-item-description">{{this.description}}</li>
              {{/if}}
            </ul>

          </div>
        {{/each}}
      </div>

      </div>
    </div>
  <script>

  </script>

</div>
