<div class="section pp-scrollable slide-timeline" id="section{{id}}">
  <div class="content">
    <div class="header">
      <h1>Timeline of {{name}}</h1>
      <p> <span id="section5Total"></span> Moments are currently recorded in Wikidata about {{name}}</p>
    </div>
    <div class="page page-timeline">
      <div id="timeline"></div>
    </div>
  </div>
  <script>
  // NEW CODE
    newEvents = [
      {{#each timeline}}
        {
          start: parseInt('{{this.date}}'.substring(0,4), 10),
          title: '{{this.title}}',
          description: $(`<div class="tl-desc-div">
            {{#if this.image}}<img src="{{this.image}}" />{{/if}}
            </div>`)
        },
      {{/each}}
    ]
    startTime = 2019
    endTime = 0
    for (var i=0; i < newEvents.length; i++){
      if (startTime > newEvents[i].start) startTime = newEvents[i].start - 5
      if (endTime < newEvents[i].start) endTime = newEvents[i].start + 5
    }
    startTime = Math.ceil(startTime / 10) * 10 - 10;
    endTime = Math.ceil(endTime / 10) * 10 +10;
    $('#section5Total').html(newEvents.length)
    $('#timeline').timespace({
      maxWidth: Math.round(screen.width*.9),
      timeType: 'date',
      useTimeSuffix: false,
      startTime: startTime,
      endTime: endTime,
      markerIncrement: 5,
      data: {
        headings: [
        ],
        events: newEvents
      },
    }, function () {
      // Edit the navigation amount
      this.navigateAmount = 500;
$('.jqTimepsaceContainer article:first').appendTo('.jqTimepsaceContainer');
    });
  </script>
</div>
