<!-- newer 2.0 version -->
<div class="section pp-scrollable section-universalviewer section-{{type}}" id="section{{id}}">
  <div class="content">
    <div class="header" style="background:  {{color.background}}; color:{{color.text}};">
      <h1>{{title}}</h1>
      <p>{{subtitle}}</p>
    </div>
    <div class="page page-youtube page-universalviewer">
      <iframe src="{{url}}" width="100%" height="100vh" style="height:100vh;width:100%" allowfullscreen frameborder="0"></iframe>
    </div>
  </div>
</div>
