<div class="section pp-scrollable slide-wikipedia" id="section4">
    <div class="content">
      <div class="header" style="background:  rebeccapurple;">
         <h1><a href="" id="wikipediaLink" target="_blank"><img src="https://upload.wikimedia.org/wikipedia/commons/b/b3/Wikipedia-logo-v2-en.svg" alt="Wikidata Logo"></a> Wikipedia Article</h1>
        <p>[Demo of Wikipedia Slide] This slide loads all the text currently about the person</p>
      </div>
      <div class="page">
        <div id="article">

        </div>
    </div>
    </div>
</div>
