<div class="section pp-scrollable slide-wikidata" id="sectionWikidata">
    <div class="content">
        <div class="header">
              <h1> <a href="https://www.wikidata.org/wiki/{{qid}}"><img src="https://upload.wikimedia.org/wikipedia/commons/6/66/Wikidata-logo-en.svg" alt="Wikidata Logo"></a> {{name}}</h1>
              <p>
                View all of the statements made about {{name}} in Wikidata
              </p>
        </div>
        <div class="page">
          <iframe id="wdframe" src="https://m.wikidata.org/wiki/{{qid}}"></iframe>
        </div>
    </div>
</div>
